<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Edit Periodical Details </h1>
                </div>

                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <form>
                            <div class="input-row">
                                <div class="input-group">
                                    <select id="type" name="material_type">
                                        <option value="Magazine" [selected]="data.details.type == 'magazine'"> Magazine </option>
                                        <option value="Journal" [selected]="data.details.type == 'journal'"> Journal </option>
                                        <option value="Newspaper"> Newspaper </option>
                                    </select>
                                    <div class="labelline"> Type of Material </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="author" [placeholder]="data.details.author">
                                    <div class="labelline"> Author </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-column">
                                    <input type="text" name="title" [placeholder]="data.details.title"> 
                                    <div class="labelline"> Title </div>
                                </div>
                
                            </div>
                            <div class="input-row">
                                <div class="input-group">
                                    <select id="type" name="language">
                                        <option value="English" [selected]="data.details.language == 'English'"> English </option>
                                        <option value="Tagalog" [selected]="data.details.language == 'Tagalog'"> Tagalog </option>
                                    </select>
                                    <div class="labelline"> Language </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="issue" [placeholder]="data.details.issue"> 
                                    <div class="labelline"> Issue </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-group">
                                    <input type="date" required name="date_published" [value]="data.details.date_published">  
                                    <div class="labelline"> Publication Date </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" required name="copyright" [placeholder]="data.details.copyright"> 
                                    <div class="labelline"> Copyright </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-group">
                                    <input type="text" required name="publisher" [placeholder]="data.details.publisher"> 
                                    <div class="labelline"> Publisher </div>
                                </div>
                                <div class="input-group">
                                    <input type="number" min="0" name="pages" [placeholder]="data.details.pages"> 
                                    <div class="labelline"> Pages </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-group">
                                    <input type="text" name="remarks" [placeholder]="data.details.remark"> 
                                    <div class="labelline"> Remarks </div>
                                </div>
                                <div class="input-group">
                                    <input type="number" min="0" name="volume" [placeholder]="data.details.volume"> 
                                    <div class="labelline"> Volume </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-group">
                                    <input type="date" required name="receive_date" [value]="data.details.receive_date"> 
                                    <div class="labelline"> Date Received </div>
                                </div>
                                <div class="input-group">
                                    <div class="labelline1"> Upload Image</div>
                                    <input type="file" name="image_location"> 
                                </div>
                            </div>
                        </form>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="update-btn" (click)="updateBox()"> Update </button>
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                        <button class="cancel-btn" (click)="closepopup()"> Cancel </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>