/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.details-content {
    max-width: 900px; /* Maximum width for larger screens */
    width: 900px;
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: thin; 
}

/*
@media screen and (max-width: 1286px) {
    .details-content {
        max-width: 1000px; // Maximum width for larger screens 
        width: 1000px;
        max-height: 700px;
    }
} */

.detailsbody {
    height: auto; /* Adjust the height as needed */
    justify-content: center; 
}

.details {
    padding: 110px 50px 10px 55px;
}

.detailsheader {
    padding: 30px 30px 0 25px;
    position: fixed;
    width: 900px;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 20px;
}

.input-group input[type="text"], input[type="date"], input[type="number"], select {
    font-family: 'Poppins';
    position: absolute;
    width: 380px;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background: transparent;
    transition: 0.1s ease;
} 

input[type="file"] {
    font-family: 'Poppins';
    width: 380px;
    height: 50px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    background: transparent;
    transition: 0.1s ease;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Poppins';
    color: #ffffff;
    height: 50px;
    cursor: pointer;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: var(--main-green);
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}

.input-column input[type="text"] {
    font-family: 'Poppins';
    position: absolute;
    width: 780px;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background: transparent;
    transition: 0.1s ease;
} 

.labelline {
    position: absolute;
    font-size: 13px;
    width: auto;
    height: auto;
    color: #000000;
    padding: 0 10px;
    margin-left: 10px;
    background-color: #ffffff;
    transition: 0.2s ease;
}

.labelline1 {
    margin-top: -10px;
    position: relative;
    font-size: 13px;
    width: auto;
    padding: 0 7px;
    height: auto;
    color: #000000;
    background-color: #ffffff;
    transition: 0.2s ease;
}

.input-row {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 10px;
}

.input-row .input-group {
    flex-basis: 900px;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-container {
    margin: -30px 30px 30px 0px;
    display: flex;
    justify-content: flex-end;
}

button {
    font-family: 'Poppins';
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1.5px;
}

.update-btn {
    background: var(--main-green);
    color: var(--primary-color);
    margin-right: 10px;
}

.delete-btn {
    background: var(--red);
    color: var(--primary-color);
}

.cancel-btn {
    background: var(--cancel-btn);
    color: var(--primary-color);
    margin-left: 10px;
}

.update-btn:hover {
    background-color: var(--green-hover);
}

.delete-btn:hover {
    background-color: var(--red-hover);
}

.cancel-btn:hover {
    background-color: var(--cancel-hover);
}