<div class="page-content">
    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked="checked">
		<input type="radio" id="tab2" name="css-tabs" checked="checked">
		<input type="radio" id="tab3" name="css-tabs" checked="checked">
		
		<ul class="tabs">
			<li class="tab"><label for="tab1">Journals</label></li>
			<li class="tab"><label for="tab2">Magazines</label></li>
			<li class="tab"><label for="tab3">Newspaper</label></li>
		</ul>

        <!-- JOURNALS MATERIAL TABLE -->
        <div class="tab-content">
            <div class="table">

                <div class="table-head">

                    <div class="table-filters">
                        <select id="filter">
                            <option selected value="All Departments"> All Publishers </option>
                            <option> Sample </option>
                            <option> Sample </option>
                            <option> Sample </option>
                        </select>

                    </div>

                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    </div>


                    
                <div class="card">
                    <section class="material-table">
                        <table class="table">
                        <tr>
                            <th> Date Added </th>
                            <th> Journal Title </th>
                            <th> Publisher </th>
                            <th> Publication Date </th>
                            <th> Action </th>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>


                        
                        </table>
                    </section>

                </div>           
            </div>
        </div>


        <!-- MAGAZINES MATERIAL TABLE -->
        <div class="tab-content">
            <div class="table">

                <div class="table-head">

                    <div class="table-filters">
                        <select id="filter">
                            <option selected value="All Departments"> All Publishers </option>
                            <option> Sample </option>
                            <option> Sample </option>
                            <option> Sample </option>
                        </select>

                    </div>

                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    </div>


                    
                <div class="card">
                    <section class="material-table">
                        <table class="table">
                        <tr>
                            <th> Date Added </th>
                            <th> Magazine Title </th>
                            <th> Publisher </th>
                            <th> Publication Date </th>
                            <th> Action </th>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>


                        
                        </table>
                    </section>

                </div>           
            </div>
        </div>


        <!-- NEWSPAPER MATERIAL TABLE -->
        <div class="tab-content">
            <div class="table">

                <div class="table-head">

                    <div class="table-filters">
                        <select id="filter">
                            <option selected value="All Departments"> All Publishers </option>
                            <option> Sample </option>
                            <option> Sample </option>
                            <option> Sample </option>
                        </select>

                    </div>

                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    </div>


                    
                <div class="card">
                    <section class="material-table">
                        <table class="table">
                        <tr>
                            <th> Date Added </th>
                            <th> Newspaper Title </th>
                            <th> Publisher </th>
                            <th> Publication Date </th>
                            <th> Action </th>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>

                        <!-- DETAILS -->
                        <tr routerLink="#">
                            <td> (timestamp date) </td>
                            <td> Sample Title One Two Three </td>
                            <td> Sample Publication </td>
                            <td> March 03, 2024 </td>
                            <td> 
                                <div class="actions">
                                <a routerLink="../" class="edit"> <i class='bx bx-edit' ></i> </a>
                                <a routerLink="#" class="delete"> <i class='bx bx-trash'></i> </a>
                                </div>
                            </td>
                        </tr>


                        
                        </table>
                    </section>

                </div>           
            </div>
        </div>

    </div>
</div>