<main>
  <div class="content">
    <div class="head">
        <h1> Archive </h1>
        <div class="btns">
            <a class="btn" routerLink="books" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> 
                <span class="material"> Books </span>
            </a>
            <a class="btn" routerLink="periodicals" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> 
                <span class="material"> Periodicals </span>
            </a>
            <a class="btn" routerLink="articles" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> 
                <span class="material"> Articles </span>
            </a>
            <a class="btn" routerLink="audio-visuals" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> 
                <span class="material"> Audio-Visuals </span>
            </a>
            <a class="btn" routerLink="academicprojects" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> 
                <span class="material"> Projects </span>
            </a>
        </div>
    </div>

    <div class="table">
        <router-outlet></router-outlet>
    </div>

  </div>
</main>
