// TABLE HEAD //
.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-head h3 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: var(--darker-green);
    text-transform: uppercase;
}

// SEARCH BAR
.search-container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 2.5em;
    border: 1px solid var(--table-border);
    background-color: var(--white);

    input[type=text] {
        font-family: 'Montserrat';
        padding: 5px;
        font-size: 14px;
        font-weight: 400;
        width: 250px;
        padding: 12px 16px;
        height: 2.3em;
        border: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        outline: none;
    }
    button {
        height: 2.5em;
        width: 2.5em;
        border: 1px solid var(--table-border);
        background: var(--main-green);
        color: var(--white);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 16px;
        cursor: default;
    }
}
// END OF TABLE HEAD //

// TABLE //
table {
    border-radius: 5px;
    border: 1px solid var(--table-border);
    table-layout: fixed;
    padding: 10px;
    tr {
        transition: all 0.3s ease;
    } 
    tr:hover{
        background-color: var(--table-hover);
    }
}

th {
    background-color: var(--main-green) !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    justify-content: center;
    height: 60px;
}

th, td {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border);
    justify-content: center;
    transition: all 0.3s ease-in;
}

.left-align {
    text-align: left;
}

table {
    td:nth-child(1) {
        min-width: 400px;
        max-width: 400px;
    }
    td:nth-child(2) {
        min-width: 200px;
        max-width: 200px;
    }
    td:nth-child(3) {
        min-width: 150px;
        max-width: 150px;
    }
    td:nth-child(4) {
        min-width: 150px;
        max-width: 150px;
    }
    td:nth-child(5) {
        max-width: 150px;
        min-width: 150px;
    }
}

// ACTIONS BUTTONS
.actions button {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    height: 35px;
    width: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    i {
        padding: 4px;
    }
}

.actions {
    // edit button
    .editbtn {
        background-color: var(--main-green);
        margin-right: 5px;
    }
    .editbtn:hover {
        background-color: var(--green-hover);
    }
    // delete button
    .deletebtn {
        background-color: var(--red);
    }
    .deletebtn:hover {
        background-color:var(--red-hover);
    }
    // view button
    .detailsbtn {
        background-color: var(--cancel-btn);
        margin-left: 5px;
    }
    .detailsbtn:hover {
        background-color: var(--cancel-hover);
    }
}

// ACTIONS TOOLTIP
tr {
    position: relative;
}

.actions .tooltiptext {
    font-family: 'Montserrat';
    font-size: 14px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    width: 119px;
    top: 100%;
    right: 1.9%;
    z-index: 1;
}

.editbtn:hover .tooltiptext,
.deletebtn:hover .tooltiptext,
.detailsbtn:hover .tooltiptext {
    visibility: visible;
}
// END OF TABLE //

// RESPONSIVE //
@media screen and (max-width: 1440px) {
    table td:nth-child(1) {
        min-width: 350px;
        max-width: 350px;
    }
}

@media screen and (max-width: 1400px) {
    table td:nth-child(1) {
        min-width: 300px;
        max-width: 300px;
    }
    table td:nth-child(2) {
        min-width: 170px;
        max-width: 170px;
    }
}

@media screen and (max-width: 1060px) {
    table td:nth-child(3), table th:nth-child(3) {
        display: none;
    }
}



@media screen and (max-width: 900px) {
    table td:nth-child(4), table th:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .table-head {
        display: block;
        width: 100%;
    }
    .table-name {
        width: 100%;
        margin-bottom: 10px;
    }
    .search-container {
        width: 100%;
        position: relative;
        align-items: center;
        form {
            display: flex;
            width: 100%;
        }
        input[type=text] {
            width: 100%;
            height: 2.7em;
        }
    }
}