<main>
    <!-- HEAD -->
    <div class="table-head">
        <!-- <div class="table-filters">
            <select id="filter" (change)="applyFilter($event, 'publisher')">
                <option selected value=""> All Publishers </option>
                <option *ngFor="let publisher of publishers" [value]="publisher"> {{ publisher }} </option>
            </select>
        </div> -->

        <div class="table-name">
            <h3> Periodicals </h3>
        </div>

        <!-- SEARCH BAR -->
        <div class="search-container">
            <form>
                <input id="magazine-search" type="text" placeholder="Search..." name="search" (keyup)="applyFilter($event)">
                <button disabled><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <!-- TABLE -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Magazine Title </th>
            <td mat-cell *matCellDef="let element" class="left-align"> {{element.title}} </td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author(s) </th>
            <td mat-cell *matCellDef="let element" class="left-align"> 
                <ng-container *ngIf="!element.authors"> N/A </ng-container>
                <ng-container *ngIf="element.authors">
                    <ng-container *ngIf="element.authors.length > 3">
                        <ng-container *ngFor="let x of element.authors.slice(0, 3); let last = last">
                            {{ x }}{{ ', ' }} <br>
                        </ng-container> [et al.]
                    </ng-container>
                    <ng-container *ngIf="element.authors.length <= 3">
                        <ng-container *ngFor="let x of element.authors; let last = last">
                            {{ x }}{{ !last ? ', ' : '' }} <br>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </td>
        </ng-container>
    
        <!-- Publisher Column -->
        <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef> Publisher </th>
            <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
        </ng-container>

        <!-- Copyright Column -->
        <ng-container matColumnDef="copyright">
            <th mat-header-cell *matHeaderCellDef> Copyright </th>
            <td mat-cell *matCellDef="let element"> {{element.copyright}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell class="actions" *matCellDef="let element">
    
                <button class="editbtn" (click)="editPopup(element.accession)">
                    <i class='bx bx-edit' ></i>
                    <span class="tooltiptext"> Edit </span>
                </button>
                <button class="deletebtn" (click)="archiveBox(element.accession)" (closedPopup)="closePopup()">
                    <i class='bx bx-archive-in'></i>
                    <span class="tooltiptext"> Archive </span>
                </button>
                <button class="detailsbtn" (click)="detailsPopup(element.accession)" (closedPopup)="closePopup()">
                    <i class='bx bx-detail' ></i>
                    <span class="tooltiptext"> View </span>
                </button>
            </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</main>