<div class="backdrop" (click)="close()"></div>
<!-- <div class="modal"> -->

<form [formGroup]="form" (submit)="submit()" class="modal">
  <h3>Change Password</h3>

  <div class="entryarea">
    <input type="password" formControlName="old_password" />
    <span></span>
    <div class="labelline">Current Password</div>
  </div>

  <div class="entryarea">
    <input type="password" formControlName="new_password" />
    <span></span>
    <div class="labelline">New Password</div>
  </div>

  <div class="entryarea">
    <input type="password" formControlName="new_password_confirmation" />
    <span></span>
    <div class="labelline">Confirm New Password</div>
  </div>

  <p class="invalid-note">{{ showInvalidNote() }}</p>
  <div class="btn-row">
    <button class="btn cancel" type="button" (click)="close()">Cancel</button>
    <button
      type="submit"
      class="btn"
      [ngClass]="{
        validSubmit: form.valid || !isDiffPassword(),
        invalidSubmit: form.invalid || isDiffPassword(),
      }"
      [disabled]="form.invalid || isDiffPassword()"
    >
      Submit
    </button>
  </div>
</form>
<!-- </div> -->
