<main>
    <div class="container">
        <div class="content">
            <div class="project-details">
                <!-- PROJECT HEADER -->
                <div class="detailsheader">
                    <h1> Import Projects </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>
                
                <div class="detailsbody">
                
                </div>
    
            </div>
        </div>
    </div>
</main>