/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.project-details {
    position: relative;
    background: white;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
}

// HEADER //
.detailsheader {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 900px;
    background-color: var(--main-green);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;
}

// CLOSE ICON
.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
}

.exit-button:hover {
    color: var(--container-color);
}

h1 {
    color: var(--white);
    padding-top: 5px;
    width: 880px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
}
// END OF HEADER //

// BODY DETAILS //
.detailsbody {
    padding: 150px 40px 30px 40px;
    height: auto; /* Adjust the height as needed */
}

.input-row {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row .txt_field {
    flex-basis: 100%;
}

.input-row .txt_field, .input-row .txt_field_short {
    position: relative;
    margin: 1.3rem 0;
}

// INPUT STYLE
.txt_field .inputtxt {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    font-size: 15px;
    border: none;
    background-color: var(--input);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    border-bottom: 2px solid var(--input-border);
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background: var(--main-green);
    transition: .3s;
}

.inputtxt:not(:focus) + span::before {
    background: var(--input-border);
}

.txt_field .inputtxt:hover{
    background-color: var(--input-hover);
}

.txt_field .inputtxt:focus ~ span::before {
    width: 100%;
}

// INPUT FILE LABEL AND BUTTON
.txt_field .uploadlabel {
    position: absolute;
    top: 0;
    margin-top: -50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--input-border);
    position: absolute;
    left: 10px;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 5px;
    font-family: 'Montserrat';
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0px;
    width: 100px;
    height: 58.5px;
    cursor: pointer;
    background-color: var(--main-green);
    border: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}

// BUTTONS
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 1rem;
    left: 0;
}

.buttons a, .buttons input {
    font-family: 'Montserrat';
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 155px;
    font-size: 16px;
    cursor: pointer;
}

.buttons .add {
    background-color: var(--main-green);
}

.buttons .add:hover {
    background-color: var(--green-hover);
}

.buttons .cancel {
    background-color: var(--cancel-btn);
}

.buttons .cancel:hover {
    background-color: var(--cancel-hover);
}