/* CONTAINER */
.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.materials {
    position: relative;
    background: white;
    width: 900px;
    height: 350px;
    left: 100px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
}

.header {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 900px;
    background-color: var(--main-green);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;
}

.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
}

.exit-button:hover {
    color: var(--container-color);
}

h1 {
    color: var(--white);
    padding-top: 5px;
    width: 880px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
}

// .materials::-webkit-scrollbar {
//     width: 7px;
// }

// .materials::-webkit-scrollbar-thumb {
//     background-color: var(--table-border);
//     border-radius: 5px;
// }

// .materials::-webkit-scrollbar-track {
//     background-color: var(--white); 
//     margin-top: 90px;
//     margin-bottom: 10px;
// }

// .project-details::-webkit-scrollbar-thumb:hover {
//     background-color: var(--table-darkhover);
// }


.detailsbody {
    padding: 100px 30px 30px 30px;
    height: auto; 
}

.file-upload input {
    font-family: 'Montserrat';
    width: 100%;
    margin-top: 70px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
}

.label {
    position: absolute;
    margin-top: -100px;
    margin-left: 5px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 3px;
    font-family: 'Montserrat';
    color: #ffffff;
    padding-top: 5px;
    height: 59px;
    font-size: 14px;
    cursor: pointer;
    background: var(--main-green);
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin-right: 16px;
    transition: background-color 200ms;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 1rem;
    left: 0;
}

.buttons a, .buttons input {
    font-family: 'Montserrat';
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

.buttons .add {
    background-color: var(--main-green);
}

.buttons .add:hover {
    background-color: var(--green-hover);
}

.buttons .cancel {
    background-color: var(--cancel-btn);
}

.buttons .cancel:hover {
    background-color: var(--cancel-hover);
}


