<main>
    <div class="main-container">
        <div class="content">
            <div class="materials">
                <div class="header">
                    <h1> Import Materials </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>
                <div class="detailsbody">
                    <div class="file-upload">
                        <input type="file" accept=".xls, .xlsx" (change)="fileUpload($event)">
                            <div class="label"> Choose "Material File" to Import  </div>
                    </div>

                    <div class="buttons">
                        <a class="add" (click)="addBox()">
                            <span> Add </span>
                            <!-- <input id="submit-button" class="add" type="submit" value="Add"> -->
                        </a>
    
                        <a class="cancel" (click)="cancelBox()">
                            <span> Cancel </span>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</main>