.content {
    padding-top: 10px;
}

.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-filters select {
    background: var(--primary-color);
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 12em;
    height: 2.5em;
    border: 1px solid var(--table-border);
    border-radius: 7px;
}

.table-filters option {
    padding: 30px;
    margin: 30px;
}

.table-head input[type=text] {
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    padding: 12px 16px;
    height: 2.3em;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

input:focus{
    outline: none;
}

.table-head .search-container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 2.5em;
    border: 1px solid var(--table-border);
    background-color: var(--primary-color);
}

.table-head .search-container button {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid var(--table-border);
    background: var(--main-green);
    color: var(--primary-color);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.table-head .search-container button:hover {
    background: var(--green-hover);
}

@media screen and (max-width: 600px) {
    .table-head .search-container {
    float: none;
    }
    .table-head a, .table-head input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .table-head input[type=text] {
    border: 1px solid #ccc;  
    }
}

.table-content {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background: var(--secondary-color);
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
}

/* table */

table {
    border-radius: 5px;
    border: 1px solid var(--table-border);
}

table,
th,
td {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border);
}

th {
    background-color: var(--main-green) !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
}


table tr:hover{
    background-color: var(--table-hover);
}

table td:nth-child(1) {
    text-align: left;
    min-width: 300px;
    max-width: 400px;
}

table td:nth-child(2) {
    min-width: 100px;
    max-width: 300px;
}

table td:nth-child(7) {
    min-width: 150px;
}

.actions button {
    color: white;
    text-decoration: none;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button i {
    padding: 4px;
}

.actions .editbtn {
    background-color: var(--main-green);
    margin-right: 5px;
}

.actions .editbtn:hover {
    background-color: var(--green-hover);
}

.actions .deletebtn {
    background-color: var(--red);
}

.actions .deletebtn:hover {
    background-color:var(--red-hover);
}

.actions .detailsbtn {
    background-color: var(--cancel-btn);
    margin-left: 5px;
}

.actions .detailsbtn:hover {
    background-color: var(--cancel-hover);
}

/* ACTIONS TOOLTIP */
tr {
    position: relative;
}

.actions .tooltiptext {
    font-family: 'Montserrat';
    font-size: 14px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--primary-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    width: 130px;
    top: 100%;
    left: 87%;
    z-index: 1;
}

.editbtn:hover .tooltiptext {
    visibility: visible;
}

.deletebtn:hover .tooltiptext {
    visibility: visible;
}

.detailsbtn:hover .tooltiptext {
    visibility: visible;
}