<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<main>
    <div class="content">
        <div class="table-content">

            <!-- HEAD -->
            <div class="table-head">
                <!-- TABLE FILTERS -->
                <!-- <div class="table-filters">
                    <select id="filter" (change)="applyFilter($event, 'filter')">
                        <option selected value=""> All Locations </option>
                        <option *ngFor="let x of locations" [value]="x.location"> {{ x.location }} </option>
                    </select>
                </div> -->

                <div class="table-name">
                    <h3> BOOKS </h3>
                </div>

                <!-- SEARCH BAR -->
                <div class="search-container">
                    <form>
                    <input id="search-book" type="text" placeholder="Search..." name="search-book" (keyup)="applyFilter()">
                    <button disabled><i class="fa fa-search"></i></button>
                    </form>
                </div>

            </div>
              
            <!-- TABLE -->
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef="" mat-sort-header class="tbl-header"> Book Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
            
                <!-- Author Column -->
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="" class="tbl-header2"> Author/s </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngFor="let x of element.authors; let last = last">
                            {{ x }}{{ x != last ? ', ' : '' }}<br>
                        </ng-container>
                    </td>
                </ng-container>
            
                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef> Location </th>
                    <td mat-cell *matCellDef="let element"> {{element.location.location}} </td>
                </ng-container>
        
                <!-- Copyright Column -->
                <ng-container matColumnDef="copyright">
                    <th mat-header-cell *matHeaderCellDef> Copyright </th>
                    <td mat-cell *matCellDef="let element"> {{element.copyright }} </td>
                </ng-container>
        
                <!-- Actions Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell class="actions" *matCellDef="let element">
            
                        <button class="editbtn" (click)="editPopup(
                            {
                                id: element.id,
                                title: element.title,
                                location: element.location_id,
                                call_number: element.call_number,
                                copyright: element.copyright,
                                authors: element.authors,
                                date_published: element.date_published,
                                volume: element.volume,
                                pages: element.pages,
                                edition: element.edition,
                                remark: element.remarks,
                                acquired_date: element.acquired_date,
                                source_of_fund: element.source_of_fund,
                                price: element.price
                            }
                        )">
                            <i class='bx bx-edit' ></i>
                            <span class="tooltiptext"> Edit </span>
                        </button>
                        <button class="deletebtn" (click)="archiveBox(element.id)" (closedPopup)="closePopup()">
                            <i class='bx bx-archive-in'></i>
                            <span class="tooltiptext"> Archive </span>
                        </button>
                        <button class="detailsbtn" (click)="detailsPopup(
                            {
                                id: element.id,
                                image: element.image_url,
                                title: element.title,
                                location: element.location.location + ': ' + element.location.full_location,
                                call_number: element.call_number,
                                copyright: element.copyright,
                                authors: element.authors,
                                date_published: element.date_published,
                                volume: element.volume,
                                pages: element.pages,
                                edition: element.edition,
                                remark: element.remarks,
                                source: element.source_of_fund,
                                price: element.price,
                                acquired_date: element.acquired_date
                            }
                            )" (closedPopup)="closePopup()">
                            <i class='bx bx-detail' ></i>
                            <span class="tooltiptext"> View </span>
                        </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>   
            
        </div>
    </div>
</main>