<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
    <div class="content">
        <div class="head">
            <h1> Academic Projects </h1>
            <a routerLink="../addproject" class="add-project"> 
                <span> <i class='bx bx-plus-circle'></i> </span>
                <span> Add Project </span>
            </a>
        </div>
        
        <div class="projects-table">

            <div class="table-head">

            <div class="table-filters">
                <select id="filter">
                    <option selected value="All Departments"> All Departments </option>
                    <option> CCS </option>
                    <option> CBA </option>
                    <option> CAHS </option>
                    <option> CEAS </option>
                    <option> CHTM </option>
                </select>

                <select id="filter">
                    <option selected value="All Projects"> All Projects </option>
                    <option> Thesis </option>
                    <option> Capstone </option>
                    <option> Research </option>
                    <option> Dissertation </option>
                    <option> Feasibility </option>
                </select>
            </div>

            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search..." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            </div>
              
              
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
            
                <!-- Date Added Column -->
                <ng-container matColumnDef="dateadd" routerLink="/addproject">
                    <th mat-header-cell *matHeaderCellDef> Date Added </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateadd}} </td>
                </ng-container>
            
                <!-- College Column -->
                <ng-container matColumnDef="college">
                    <th mat-header-cell *matHeaderCellDef> College </th>
                    <td mat-cell *matCellDef="let element"> {{element.college}} </td>
                </ng-container>
            
                <!-- Program Column -->
                <ng-container matColumnDef="program">
                    <th mat-header-cell *matHeaderCellDef> Program </th>
                    <td mat-cell *matCellDef="let element"> {{element.program}} </td>
                </ng-container>
            
                <!-- Project Column -->
                <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef> Project </th>
                    <td mat-cell *matCellDef="let element"> {{element.project}} </td>
                </ng-container>
        
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
        
                <!-- Date Published Column -->
                <ng-container matColumnDef="datepub">
                    <th mat-header-cell *matHeaderCellDef> Date Published </th>
                    <td mat-cell *matCellDef="let element"> {{element.datepub}} </td>
                </ng-container>
        
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell class="actions" *matCellDef="let element">
            
                        <button class="editbtn" (click)="editProject(element.id)"  mat-raised-button color="primary">
                            <i class='bx bx-edit' ></i>
                        </button>
                        <button class="deletebtn" (click)="deleteProject(element.id)" (closedPopup)="closePopup()" mat-raised-button color="warn">
                            <i class='bx bx-trash'></i>
                        </button>
                        <button class="detailsbtn" (click)="detailsProject(element.id)" (closedPopup)="closePopup()" mat-raised-button color="primary">
                            <i class='bx bx-detail' ></i>
                        </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>   
            
            
        </div>
    </div>
</main>