.content {
  justify-content: center;
  align-items: center;
}

// HEAD CONTENT //
.head {
    display: flex;
    justify-content: space-between;
}

.head .add-project .bx {
    font-size: 18px;
    padding-top: 3px;
}

.head .add-project {
    align-items: center;
    background-color: var(--main-green);
    text-decoration: none;
    color: white;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
    display: flex;
}

.head a {
    text-align: center;
    justify-content: center;
    gap: 5px;
}

span {
    font-size: 16px;
    font-weight: 600;
}

.head .add-project:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    cursor: pointer;
    text-decoration: none;
}

.head h1 {
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}
// END OF HEAD CONTENT

// TABLE HEAD //
.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

// FILTER
.table-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-filters a:hover {
    text-decoration: none;
}

.table-filters select {
    background: var(--primary-color);
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 12em;
    height: 2.5em;
    border: 1px solid var(--table-border);
    border-radius: 7px;
}

//SELECT OPTION
// .table-filters select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     /* Add some padding to align text with border */
//     padding-right: 20px;
//     /* Add a background image for custom arrow */
//     background-image: url('../../../../../../assets/icons/down-arrow.png');
//     background-repeat: no-repeat;
//     background-position: center right 5px;
// }

// option {
//     background-color: var(--primary-color);
// }
//SELECT OPTION

// SEARCH BAR
.table-head input[type=text] {
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    padding: 12px 16px;
    height: 2.3em;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

input:focus{
    outline: none;
}

.table-head .search-container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 2.5em;
    border: 1px solid var(--table-border);
}

.table-head .search-container button {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid var(--table-border);
    background: var(--main-green);
    color: var(--primary-color);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: default;
}
// END OF TABLE HEAD //

.projects-table {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background: var(--primary-color);
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
}

ng-template {
    display: contents;
}

// TABLE STYLE CONTENT //
table {
    border-radius: 5px;
    border: 1px solid var(--table-border);
}

table,
th,
td {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border);
    justify-content: center;
}

.tbl-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left:30px;
}

.tbl-header2 {
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding-left: 40px;
}

.tbl-header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-height: 60px;
    padding-left: 30px;
}

th {
    background-color: var(--main-green) !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    justify-content: center;
    height: 60px;
}

table tr:hover{
    background-color: rgb(243, 243, 243);
}

table td:nth-child(2) {
    max-width: 150px;
}

table td:nth-child(3) {
    min-width: 300px;
    max-width: 400px;
}

table td:nth-child(4) {
    max-width: 250px;
}

table td:nth-child(6) {
    min-width: 150px;
}

.left-align {
    text-align: left;
}

mat-paginator {
    font-size: 16px;
}

// ACTION BUTTONS
.actions button {
    color: white;
    text-decoration: none;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button i {
    padding: 4px;
}

.actions .editbtn {
    background-color: var(--main-green);
    margin-right: 5px;
}

.actions .editbtn:hover {
    background-color: var(--green-hover);
}

.actions .deletebtn {
    background-color: var(--red);
}

.actions .deletebtn:hover {
    background-color:var(--red-hover);
}

.actions .detailsbtn {
    background-color: var(--cancel-btn);
    margin-left: 5px;
}

.actions .detailsbtn:hover {
    background-color: var(--cancel-hover);
}

// ACTIONS TOOLTIP
tr {
    position: relative;
}

.actions .tooltiptext {
    font-family: 'Montserrat';
    font-size: 14px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--primary-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    width: 120px;
    top: 100%;
    right: 2.5%;
    z-index: 1;
}

.editbtn:hover .tooltiptext {
    visibility: visible;
}

.deletebtn:hover .tooltiptext {
    visibility: visible;
}

.detailsbtn:hover .tooltiptext {
    visibility: visible;
}
// END OF TABLE STYLE CONTENT //