<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Audio-Visual </h1>
                    <button class="exit-button" (click)="closepopup('')"> &times; </button>
                </div>

                <div class="detailsbody">
                    <div class="body">
                        <div class="details">
                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td class="data2" colspan="3">{{element.accession}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td class="data2" colspan="3">{{element.title}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td class="data2" colspan="3">
                                    <ng-container *ngIf="!element.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of element.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Copyright</strong></td>
                                    <td class="data2">{{element.copyright}}</td>
                                    <td class="data"><strong>Call Number</strong></td>
                                    <td class="data2">{{element.call_number}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="restore-btn" (click)="restoreBox(data)"> Restore </button>
                        <button class="delete-btn" (click)="deleteBox(data)"> Delete </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>