<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER -->
                <div class="detailsheader">
                    <!-- <h1> element: {{ element.element_type == 0 ? 'Journal' : 
                                        element.element_type == 1 ? 'Magazine' : 'Newspaper' }} 
                    </h1> -->
                    <h1> Periodical - {{ type }}
                    </h1>
                    <button class="exit-button" (click)="closepopup('')"> &times; </button>
                </div>

                <!-- BODY -->
                <div class="detailsbody">
                    <div class="body">
                        <div class="details">
                            <!-- MATERIAL IMAGE -->
                            <div class="mat-image">
                                <img class="cover" alt="periodical image" [src]="element.image_url || errorImage">
                            </div>

                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td>{{element.accession}}</td>
                                  </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td>{{element.title}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td>
                                    <ng-container *ngIf="!element.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of element.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td>{{element.publisher}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Date Published</strong></td>
                                    <td>{{ element.date_published | date: 'mediumDate' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td>{{ element.volume != null ? element.volume : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Issue</strong></td>
                                    <td>{{ element.issue != null ? element.issue : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Copyright</strong></td>
                                    <td>{{ element.copyright }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Pages</strong></td>
                                    <td>{{ element.pages }}</td>
                                </tr>
                            </table>
                        </div>

                        <p class="message"> Additional Info </p>
                        <div class="details">
                            <div class="additional-info">
                                <table class="details-table">
                                    <tr>
                                        <td class="data"><strong>Periodical Type</strong></td>
                                        <td class="data2">
                                            {{ element.element_type == 0 ? 'Journal' : element.element_type == 1 ? 'Magazine' : 'Newspaper' }}
                                        </td>
                                        <td class="data"><strong>Date Received</strong></td>
                                        <td class="data2">{{ element.acquired_date | date: 'mediumDate' }}</td>
                                      </tr>
                                    <tr>
                                      <td class="data"><strong>Language</strong></td>
                                      <td class="data2">{{element.language}}</td>
                                      <td class="data"><strong>Remark</strong></td>
                                      <td class="data2">{{ element.remarks != null ? element.remarks : 'N/A' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="restore-btn" (click)="restoreBox(data)"> Restore </button>
                        <button class="delete-btn" (click)="deleteBox(data)"> Delete </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>