/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.project-details {
    position: relative;
    background: white;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
}

// HEADER //
.detailsheader {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 900px;
    background-color: var(--main-green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;
}

// CLOSE ICON
.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--white);
}

.exit-button:hover {
    color: var(--container-color);
}

h1 {
    color: var(--white);
    padding-top: 5px;
    width: 880px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
}
// END OF HEADER //

// SCROLLBAR //
.project-details::-webkit-scrollbar {
    width: 7px;
}

.project-details::-webkit-scrollbar-thumb {
    background-color: var(--table-border);
    border-radius: 5px;
}

.project-details::-webkit-scrollbar-track {
    background-color: var(--white); 
    margin-top: 90px;
    margin-bottom: 10px;
}

.project-details::-webkit-scrollbar-thumb:hover {
    background-color: var(--table-darkhover);
}
// END OF SCROLLBAR //

// BODY DETAILS //
.detailsbody {
    padding: 100px 30px 30px 30px;
    height: auto; /* Adjust the height as needed */
}

.details {
    display: flex;
    justify-content: space-between;
}

// MATERIAL TITLE
.mat-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
}

.mat-title .material-title {
    text-align: left;
    padding: 15px;
    background-color: var(--container-color);
    width: 100%;
}

.material-title span {
    display: flex;
    justify-content: center;
}

.material-title h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

// .details2 {
//     display: flex;
//     justify-content: space-between;
//     padding-top: 20px;
// }

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details .projectdetails {
    flex-basis: 50%;
    text-align: left;
    padding: 15px;
}

.projectdetails span {
    display: flex;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;
}

.projectdetails span:hover {
    background-color: var(--container-color);
}

.projectdetails h2 {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
}

.projectdetails p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    gap: 10px;
}

.details .details2 {
    text-align: left;
    margin: 15px;
    width: 100%;
    gap: 10px;
    transition: all 0.5s ease;
}

.prj-abstract, .prj-keywords {
    padding: 10px;
    margin-bottom: 5px
}

// .prj-abstract:hover, .prj-keywords:hover {
//     background-color: var(--container-color);
// }

.details2 span {
    display: flex;
}

.details2 h2 {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 15px;
}

.details2 p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

// .project-details .prj-title {
//     color: var(--white);
//     background-color: var(--main-green);
// }

// .details2 .projectdetails2, .details2 .project-img2 {
//     flex-basis: 50%;
//     text-align: left;
//     padding: 15px;
//     height: 200px;
// }

// .details2 .abstract-img {
//     display: flex;
//     justify-content: center;
// }

// .abst {
//     width: auto;
//     height: 100%;
//     margin-bottom: 10px;
// }

// .projectdetails2 span {
//     display: flex;
//     padding: 10px;
// }

// .projectdetails2 h2 {
//     font-size: 15px;
//     font-weight: bold;
//     padding-right: 10px;
// }

// .projectdetails2 p {
//     font-size: 15px;
//     font-weight: 400;
//     text-align: justify;
// }

// BUTTONS
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    font-family: 'Montserrat';
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1px;
    box-shadow: 0px 3px 3px rgba(37, 37, 37, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
}

.button-container button:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -1px);
    cursor: pointer;
    text-decoration: none;
}

.delete-btn {
    background: var(--red);
    color: var(--white);
}

.delete-btn:hover {
    background-color: var(--red-hover);
}
// END OF BODY DETAILS //
