<main>
    <div class="container">
        <div class="content">
            <div class="project-details">
                <button class="exit-button" (close)="closedPopup"> &times; </button>
                <!-- POST TITLE -->
                <h1> Sample Project Title One Two Three </h1>
    
    
                <div class="details">
                    <div class="projectdetails">
                        <img alt="blog" src="https://raw.githubusercontent.com/pitcza/sampleimages/main/sample.jpg">
                        <span>
                            <h2> Author: </h2> <p> Pauleen Dalida </p>
                        </span>
                        <span>
                            <h2> Date Published: </h2> <p> January 01, 2024 </p>
                        </span>
                        <span>
                            <h2> Author: </h2> <p> Pauleen Dalida </p>
                        </span>
                        <span>
                            <h2> Date Published: </h2> <p> January 01, 2024 </p>
                        </span>
                    </div>
                    <div class="projectdetails">
                        <span>
                            <h2> College: </h2> <p> CCS </p>
                        </span>
                        <span>
                            <h2> Program: </h2> <p> BSIT </p>
                        </span>
                    </div>
                </div>
    
    
    
            </div>
        </div>
    </div>
</main>