
body {
    transition: all 0.5s ease;
    font-family: 'Montserrat';
}

.swal2-popup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important; /* Ensure no margins */
}

.admin-container {
    min-width: 85%;
}

/* HEADER */
.header {
    position: fixed;
    background-color: var(--primary-color);
    height: 70px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    margin-left: 70px; // FOR RESPONSIVE
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color:var(--main-green);
    z-index: 2;
    transition: all 0.3s ease;
}


/* SIDEBAR CONTENTS */
.logo img {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.systemname h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.systemname h2 {
    text-align: center;
    font-size: 14px;
    opacity: 50%;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.logo-title {
    padding-bottom: 10%;
    border-bottom: 1px solid var(--border-color);
}


.sidebar-content {
    position: relative;
    background-color: var(--primary-color);
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 15px;
    z-index: 100;
    border-right: 2px solid var(--border-color);
    transition: all 0.3s ease;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-content a {
    color: var(--black);
}

.sidebar-content-tabs {
    position: relative;
}

.admin-tabs {
    padding: 0;
    list-style: none;
}

.admin-tab a {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 5px;
    border-bottom: 1px solid var(--border-color);
}

.admin-tab a:hover {
    color: var(--main-green);
}

.admin-tab a.active-link {
    font-weight: 700;
    color: var(--main-green);
}

.tab-link .tab-link-name {
    padding-left: 10px;
    padding-top: 2px;
}

.admin-tabs .tab-link-icon {
    font-size: 20px;
}

ul ul {
    list-style: none;
}


.logoutbtn .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
}

.logoutbtn .logout:hover {
    color: var(--main-green);
}

.logoutbtn {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 220px;
    cursor: pointer;
    transition: all 0.5s ease;
}

// RESPONSIVE SIDEBAR SIZE 
@media only screen and (max-width: 1220px) {
    .sidebar-content {
        width: 70px;
    }
    .sidebar-content:hover {
        width: 220px;
        z-index: 200;

        .logoutbtn {
            width: 220px;
        }
        .logo img {
            height: 130px;
            width: 130px;
        }
        .systemname {
            display: inline;
        }
    
        .tab-link-name {
            display: inline;
        }
    }

    .sidebar-content:hover li a span:last-child {
        display: inline;
    }

    .logo img {
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
    }

    .systemname {
        display: none;
    }

    .tab-link-name {
        display: none;
    }

    .logoutbtn {
        bottom: 20px;
        width: 70px;
    }
    
}

// FOR RESPONSIVE MAIN CONTENTS
@media screen and (min-width: 1220px) {
    .body-content {
        padding-left: 240px;
        padding-top: 90px;
    }
    
    .header {
        margin-left: 220px;
    }
}

.body-content {
    padding-left: 20px;
    padding-top: 70px;
    transition: all 0.3s ease;
}