<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Periodical: {{ periodical.periodical_type == 0 ? 'Journal' : 
                                            periodical.periodical_type == 1 ? 'Magazine' : 'Newspaper' }} 
                    </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="mat-title">
                        <div class="material-title">
                            <span>
                                <h2> {{ periodical.title }} </h2>
                            </span>
                        </div>
                    </div>
                    
                    <div class="details">
                        <div class="body-details">
                            <img alt="book image" [src]="periodical.image_url ? periodical.image_url : errorImage">
                        </div>

                        <div class="body-details">
                            <span>
                                <h2> Accession Number: </h2> <p> {{ periodical.accession }} </p>
                            </span>
                            <span>
                                <h2> Author/s: </h2> 
                                <p>
                                <ng-container *ngFor="let author of periodical.authors; let last = last">
                                        {{ author }}{{ !last ? ', ' : '' }}
                                    <br>
                                </ng-container>    
                                </p>
                            </span>
                            <span>
                                <h2> Publisher: </h2> <p> {{ periodical.publisher }} </p>
                            </span>
                            <span>
                                <h2> Publication Date: </h2> <p> {{ periodical.date_published | date: 'mediumDate' }} </p>
                            </span>
                            <span>
                                <h2> Copyright: </h2> <p> {{ periodical.copyright }} </p>
                            </span>
                            <span>
                                <h2> Volume: </h2> <p> {{ periodical.volume != null ? periodical.volume : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Pages: </h2> <p> {{ periodical.pages }} </p>
                            </span>
                            <span>
                                <h2> Issue: </h2> <p> {{ periodical.issue != null ? periodical.issue : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Language: </h2> <p> {{ periodical.language | titlecase }} </p>
                            </span>
                            <span>
                                <h2> Date Received: </h2> <p> {{ periodical.acquired_date | date: 'mediumDate' }} </p>
                            </span>
                            <span>
                                <h2> Remark: </h2> <p> {{ periodical.remarks != null ? periodical.remarks : 'N/A' }} </p>
                            </span>
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>