<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER -->
                <div class="detailsheader">
                    <h1> Periodical - {{ periodical.periodical_type == 0 ? 'Journal' : 
                                            periodical.periodical_type == 1 ? 'Magazine' : 'Newspaper' }} 
                    </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>

                <!-- BODY -->
                <div class="detailsbody">
                    <div class="body">
                        <div class="details">
                            <!-- MATERIAL IMAGE -->
                            <div class="mat-image">
                                <img class="cover" alt="periodical image" [src]="periodical.image_url || errorImage">
                            </div>

                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td>{{periodical.accession}}</td>
                                  </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td>{{periodical.title}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td>
                                    <ng-container *ngIf="!periodical.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of periodical.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td>{{periodical.publisher}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Date Published</strong></td>
                                    <td>{{ periodical.date_published | date: 'mediumDate' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td>{{ periodical.volume != null ? periodical.volume : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Issue</strong></td>
                                    <td>{{ periodical.issue != null ? periodical.issue : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Copyright</strong></td>
                                    <td>{{ periodical.copyright }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Pages</strong></td>
                                    <td>{{ periodical.pages }}</td>
                                </tr>
                            </table>
                        </div>

                        <p class="message"> Additional Info </p>
                        <div class="details">
                            <div class="additional-info">
                                <table class="details-table">
                                    <tr>
                                        <td class="data"><strong>Periodical Type</strong></td>
                                        <td class="data2">
                                            {{ periodical.periodical_type == 0 ? 'Journal' : periodical.periodical_type == 1 ? 'Magazine' : 'Newspaper' }}
                                        </td>
                                        <td class="data"><strong>Date Received</strong></td>
                                        <td class="data2">{{ periodical.acquired_date | date: 'mediumDate' }}</td>
                                      </tr>
                                    <tr>
                                      <td class="data"><strong>Language</strong></td>
                                      <td class="data2">{{periodical.language}}</td>
                                      <td class="data"><strong>Remark</strong></td>
                                      <td class="data2">{{ periodical.remarks != null ? periodical.remarks : 'N/A' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="button-container">
                        <!--<button class="edit-btn"> Edit </button>-->
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
</main>