<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Edit Book Details </h1>
                    <button class="exit-button" (click)="cancelBox()"> &times; </button>
                </div>

                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <form id="edit-form" enctype="multipart/form-data" [formGroup]="editForm" (ngSubmit)="updateBook()">
                            <div class="input_field">
                                <div class="input-row">
                                    <div class="txt_field_shorter">
                                        <input class="inputtxt" type="text" formControlName="accession">
                                        <span [ngClass]="{'errorSpan': isInvalid('accession') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('accession'), 'moved-up': isFieldFilled('accession') }"> Accession No. </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="title">
                                        <span [ngClass]="{'errorSpan': isInvalid('title') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('title'), 'moved-up': isFieldFilled('title') }"> Title </div>
                                    </div>
                                </div>
                                
                                <!-- CAN ADD MULTIPLE AUTHOR -->
                                <div class="input-row">
                                    <div class="author-container">
                                        <ng-container formArrayName="authors">
                                        <div *ngFor="let author of values; let i = index; trackBy: trackByIndex" class="multiple-author">
                                            <div class="txt_field">
                                                <input class="inputtxt" type="text" name="author" [value]="author" (keyup)="updateValue($event, i)">
                                                <span  [ngClass]="{'errorSpan': invalidAuthor(i) }"></span>
                                                <div class="labelline1" [ngClass]="{ 'errorLabel': invalidAuthor(i) }"> Author </div>
                                            </div>
                                            <button type="button" class="removebtn" *ngIf="values.length > 1" (click)="removeValue(i)">
                                                <i class='bx bx-x'></i>
                                            </button>
                                        </div>
                                        </ng-container>
                                    </div>
                                      
                                    <div class="addbtn">
                                        <button type="button" class="add-author" (click)="addValue()" [disabled]="isMaxLimitReached()">ADD</button>
                                    </div>
                                    
                                    <!-- Display message based on the number of input fields -->
                                    <p *ngIf="!isMaxLimitReached()">Add more AUTHOR if necessary</p>
                                    <p *ngIf="isMaxLimitReached()">Maximum AUTHORS reached</p>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="publisher">
                                        <span [ngClass]="{'errorSpan': isInvalid('publisher') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('publisher'), 'moved-up': isFieldFilled('publisher') }"> Publisher </div>
                                    </div>
                                    <div class="txt_field_short">
                                        <select class="inputtxt" formControlName="copyright">
                                            <option *ngFor="let x of year" [value]="x" [selected]="x === currentYear"> {{ x }} </option>
                                        </select>
                                        <span></span>
                                        <div class="labelline1"> Copyright </div>
                                    </div>
                                </div>

                                <!-- [selected]="location.location_short === book.location" -->
                                <div class="input-row">
                                    <div class="txt_field">
                                        <select class="inputtxt" formControlName="location">
                                            <option *ngFor="let location of locations" [value] = "location.location_short" >
                                                {{ location.location_short }}{{ location.location_full ? ': ' + location.location_full : '' }}</option>
                                        </select>
                                        <span></span>
                                        <div class="labelline1"> Location </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="call_number" >
                                        <span [ngClass]="{'errorSpan': isInvalid('call_number') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('call_number'), 'moved-up': isFieldFilled('call_number') }"> Call Number </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="author_number" >
                                        <span [ngClass]="{ 'errorSpan': isInvalid('author_number') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('author_number'), 'moved-up': isFieldFilled('author_number') }"> Author Number </div>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text"  formControlName="volume">
                                        <span></span>
                                        <div class="labelline" [ngClass]="{ 'moved-up': isFieldFilled('volume') }"> Volume </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="edition" >
                                        <span></span>
                                        <div class="labelline" [ngClass]="{ 'moved-up': isFieldFilled('edition') }"> Edition </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="number" min="0" formControlName="pages" >
                                        <span [ngClass]="{'errorSpan': isInvalid('pages') }"></span>
                                        <div class="labelline" [ngClass]="{ 'errorLabel': isInvalid('pages'), 'moved-up': isFieldFilled('pages') }"> Pages </div>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" min="0" formControlName="remarks" >
                                        <span></span>
                                        <div class="labelline" [ngClass]="{ 'moved-up': isFieldFilled('remarks') }"> Remarks </div>
                                    </div>
                                </div>
                                
                                <div class="input-row">
                                    <div class="txt_field">
                                        <select class="inputtxt" id="language" formControlName="source_of_fund" required (change)="sourceOfFundEvent($event)">
                                            <option value="Purchased" > Purchased </option>
                                            <option value="Donated" > Donated </option>
                                            <option value="Replacement" > Replacement </option>
                                        </select>
                                        <span></span>
                                        <label class="labelline1" for="fund"> Source of Fund </label>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="date" formControlName="acquired_date">
                                        <span [ngClass]="{'errorSpan': isInvalid('acquired_date') }"></span>
                                        <div class="datelabel" [ngClass]="{ 'errorLabel': isInvalid('acquired_date') }"> Date Purchased/Donated </div>
                                    </div> 
                                    <div class="txt_field">
                                        <span class="peso-sign">₱</span>
                                        <input class="inputtxt-price" type="number" formControlName="price" >
                                        <span [ngClass]="{'errorSpan': isInvalid('price') }"></span>
                                        <div class="labelline1" [ngClass]="{ 'errorLabel': isInvalid('price') }"> Price </div>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field"> 
                                        <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" name="image_url" style="padding-left: 110px;" (change)="imageUpload($event)"> 
                                        <span></span>
                                        <div class="uploadlabel"> Upload Image </div>
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="update-btn" (click)="updateBook()"> Update </button>
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                        <button class="cancel-btn" (click)="cancelBox()"> Cancel </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>