<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Sample Title </h1>
                </div>

                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <div class="body-details">
                        
                        </div>

                        <div class="body-details">
                            
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="update-btn"> Update </button>
                        <button class="delete-btn" (click)="deleteBox()" (click)="closepopup()"> Delete </button>
                        <button class="cancel-btn" (click)="closepopup()"> Cancel </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>