
.content {
  justify-content: center;
  align-items: center;
}

/* HEAD CONTENT */
.head {
    display: flex;
    justify-content: space-between;
}

.head h1 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.head .list {
    align-items: center;
    background-color: var(--main-green);
    text-decoration: none;
    color: white;
    top: 0;
    border-radius: 50px;
    font-size: 16px;
    width: 150px;
    height: 40px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
}

.head a {
    padding: 10px;
    text-align: center;
    align-items: center;
}

.head .list:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    cursor: pointer;
    text-decoration: none;
}
/* END OF HEAD CONTENT */

/* FORM CONTENT CONTAINER */
.addproject {
    justify-content: center;
    padding: 40px 60px 40px 60px;
    width: 100%;
    height: auto;
    background: var(--white);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--table-border);
    border-radius: 5px;
    margin-bottom: 30px;
}

// ----- FORM INPUT SCSS ----- //
.input_field {
    padding-bottom: 30px;
}

.input-row {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row .txt_field {
    flex-basis: 100%;
}

// MAIN INPUT STYLE
.input-row .txt_field, .input-row .txt_field_short {
    position: relative;
    margin: 1.3rem 0;
}

.txt_field .inputtxt, .txt_field_short .inputtxt, .txt_field input[type="date"] {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    font-size: 15px;
    border: none;
    background-color: var(--input);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    border-bottom: 2px solid var(--input-border);
}

.txt_field .labelline, .txt_field_short .labelline {
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 10px;
    color: var(--input-border);
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background: var(--main-green);
    transition: .3s;
}

.inputtxt:not(:focus) + span::before {
    background: var(--input-border);
}

.txt_field .inputtxt:hover{
    background-color: var(--input-hover);
}

.txt_field .inputtxt:valid ~ .labelline {
    top: 17px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--input-border);
}

.txt_field .inputtxt:focus ~ .labelline {
    top: 17px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

.txt_field .inputtxt:focus ~ span::before {
    width: 100%;
}

// SHORT INPUT FIELD
.input-row .txt_field_short {
    flex-basis: 60%;
}

.txt_field_short span::before{
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background: var(--main-green);
    transition: .3s;
}

.txt_field_short .inputtxt:hover{
    background-color: var(--input-hover);
}

.txt_field_short .inputtxt:valid ~ .labelline {
    top: 17px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--cancel-btn);
}

.txt_field_short .inputtxt:focus ~ .labelline {
    top: 17px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

.txt_field_short .inputtxt:focus ~ span::before {
    width: 100%;
}

// LABEL IF NAKATAAS NA AGAD
.txt_field .datelabel, .txt_field .labelline1 {
    top: 7px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--input-border);
    position: absolute;
    left: 10px;
}

.txt_field input[type="date"]:focus ~ .datelabel, .txt_field input[type="file"]:focus ~ .uploadlabel, .txt_field .inputtxt:focus ~ .labelline1 {
    color: var(--main-green);
}

// SELECT OPTION
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some padding to align text with border */
    padding-right: 20px;
    /* Add a background image for custom arrow */
    background-image: url('../../../../../../assets/icons/down.png');
    background-repeat: no-repeat;
    background-position: center right 7px;
}

option {
    background-color: var(--white);
}

// ADD MULTIPLE AUTHOR CONTENT
.author-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1.5rem;
    width: 100%;
    z-index: 1;
}

.input-row p {
    position: absolute;
    padding-top: 85px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
    opacity: 70%;
}

.input-row .multiple-author {
    position: relative;
    flex-basis: 100%;
}

.input-row .add-author {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 1.3rem;
    height: 60px;
    width: 70px;
    background-color: var(--main-green);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-row .add-author:hover {
    background-color: var(--green-hover);
}

.input-row .removebtn {
    display: none;
}

.input-row .multiple-author:hover {
    .removebtn {
        display: flex;
        position: absolute;
        font-size: 30px;
        color: var(--cancel-btn);
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        top: 0;
        right: 0;
        margin: 35px 10px 0 0;
        cursor: pointer;
    }
}

// INPUT FILE LABEL AND BUTTON
.txt_field .uploadlabel {
    position: absolute;
    top: 0;
    margin-top: -20px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--input-border);
    position: absolute;
    left: 10px;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 5px;
    font-family: 'Montserrat';
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0px;
    width: 100px;
    height: 58.5px;
    cursor: pointer;
    background-color: var(--main-green);
    border: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}

// TEXTAREA
.input-row .txtarea {
    flex-basis: 100%;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
}

.txtarea textarea {
    font-family: 'Montserrat';
    width: 100%;
    height: 200px;
    padding-top: 29px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: none;
    background-color: var(--input);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    border-bottom: 2px solid var(--input-border);
    resize: none;
}

.txtarea .labelline1 {
    font-family: 'Montserrat';
    position: absolute;
    top: 60%;
    left: 10px;
    color: var(--input-border);
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

.txtarea textarea:focus {
    content: '';
    border-bottom: 2.5px solid var(--main-green);
}

.txtarea textarea:hover{
    background-color: var(--input-hover);
}

.txtarea textarea:valid ~ .labelline1 {
    top: 17px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--input-border);
}

.txtarea textarea:focus ~ .labelline1 {
    top: 17px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

// KEYWORDS CONTENT
.keywords-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 1.5rem;
    width: 100%;
    z-index: 1;
}

.input-row #keywords {
    position: absolute;
    padding-top: 85px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
    opacity: 70%;
}

.input-row .keywords {
    position: relative;
    flex-basis: 100%;
}

.input-row .add-keyword {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 1.3rem;
    height: 60px;
    width: 70px;
    background-color: var(--main-green);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-row .add-keyword:hover {
    background-color: var(--green-hover);
}

.input-row .removetag {
    display: none;
}

.input-row .keywords:hover {
    .removetag {
        display: flex;
        position: absolute;
        font-size: 30px;
        color: var(--cancel-btn);
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        top: 0;
        right: 0;
        margin: 35px 10px 0 0;
        cursor: pointer;
    }
}
// ----- END OF FORM INPUT SCSS ----- //

// BUTTONS //
.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    left: 0;
}

.buttons a, .buttons input {
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

.buttons .add {
    background-color: var(--main-green);
}

.buttons .add:hover {
    background-color: var(--green-hover);
}

.buttons .cancel {
    background-color: var(--cancel-btn);
}

.buttons .cancel:hover {
    background-color: var(--cancel-hover);
}
// END OF BUTTONS //

// RESPONSIVE EWAN //
@media screen and (max-width: 1020px) {
    #no-add-function {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 1.5rem;
        row-gap: 0;
        width: 100%;

        .inputtxt {
            width: 100%;
        }
    }
    .input-row {
        gap: 1.3rem;
    }
}

@media screen and (max-width: 660px) {
    #no-add-function {
        width: 100%;
    }
    .input-row {
        gap: 0.5rem;
        width: 100%;
    }
    .input-row .add-keyword, .input-row .add-author {
        width: 60px;
    }
}


