<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
    <div class="content">
        <div class="head">
            <h1> Add Academic Projects </h1>
            <a routerLink="../listofprojects" class="list"> 
                <span> Back to List </span>
            </a>
        </div>

        <div class="addproject">
        
            <form id="project-form">
                <div class="input_field">                    
                    <div class="input-row" id="no-add-function">
                        <!-- <div class="txt_field_short">
                            <input class="inputtxt" type="text" name="id" required>
                            <span></span>
                            <div class="labelline"> Accession No. </div>
                        </div> -->
                        <div class="txt_field_short">
                            <select class="inputtxt" id="filter-department" (change)="changedDepartment($event)">
                                <option *ngFor="let x of departments; let i = index" [value] = "x" [selected]="i === 0">{{ x }}</option>
                            </select>
                            <span></span>
                            <label class="labelline" for="college"> College </label>
                        </div>
                        <div class="txt_field_short">
                            <select class="inputtxt" id="filter-program" (change)="changedProgram($event)" name="program_id">        
                                <ng-container *ngFor="let x of programs">
                                    <option *ngIf="x.department == departmentFilter" [value] = "x.id">{{ x.program }}</option>
                                </ng-container>
                            </select>
                            <span></span>
                            <label class="labelline" for="program"> Program </label>
                        </div>
                        <div class="txt_field">
                            <input class="inputtxt" type="text" name="category" [value]="programCategory" disabled>
                            <span></span>
                            <label class="labelline1" for="college"> Category </label>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="txt_field">
                            <input class="inputtxt" type="text" name="title" required>
                            <span></span>
                            <div class="labelline"> Title </div>
                        </div>
                    </div>

                    <!-- CAN ADD MULTIPLE AUTHORS -->
                    <div class="input-row">
                        <div class="author-container">
                        <ng-container *ngFor="let x of values; let i = index; trackBy: trackByIndex">
                            <div class="multiple-author">
                                <div class="txt_field">
                                    <input class="inputtxt" type="text" name="author" (input)="updateValue($event, i)" [value]="x" required>
                                    <span></span>
                                    <div class="labelline"> Author </div>
                                </div>
                                <button type="button" class="removebtn" (click)="removevalue(i)" *ngIf="values.length > 1">
                                    <i class='bx bx-x'></i>
                                </button>
                            </div>
                        </ng-container>
                        </div>
                        <div class="addbtn">
                            <button type="button" class="add-author" (click)="addvalue()" [disabled]="isMaxLimitReached()">ADD</button>
                        </div>
                    
                        <!-- Display message based on the number of input fields -->
                        <p *ngIf="values.length < 6">Add more AUTHOR if necessary</p>
                        <p *ngIf="values.length === 6">Maximum AUTHORS reached</p>
                    
                    </div>

                    <div class="input-row" id="no-add-function">
                        <div class="txt_field">
                            <select class="inputtxt" id="language" name="language" required>
                                <option value="english"> English </option>
                                <option value="tagalog"> Tagalog </option>
                            </select>
                            <span></span>
                            <label class="labelline" for="language"> Language </label>
                        </div>
                        <div class="txt_field">
                            <input class="inputtxt" type="date" id="datepub" name="date_published" required>                              
                            <span></span>
                            <div class="datelabel"> Date Published </div>
                        </div> 
                        <div class="txt_field"> 
                            <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" name="image_url" style="padding-left: 110px;"> 
                            <span></span>
                            <div class="uploadlabel"> Project Cover </div>
                        </div>
                    </div>

                    <!-- <div class="input-row" id="no-add-function">
                        <div class="txt_field"> 
                            <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" name="abstract_img" style="padding-left: 110px;"> 
                            <span></span>
                            <div class="uploadlabel"> Abstract </div>
                        </div>
                        <div class="txt_field"> 
                            <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" name="image_url" style="padding-left: 110px;"> 
                            <span></span>
                            <div class="uploadlabel"> Project Cover </div>
                        </div>
                    </div> -->

                    <div class="input-row">
                        <div class="txtarea">
                            <textarea name="abstract"> </textarea>
                            <span></span>
                            <label class="labelline1"> Abstract </label>
                        </div>
                    </div>

                    <!-- KEYWORDS -->
                    <div class="input-row">
                        <div class="keywords-container">
                        <ng-container *ngFor="let x of tags; let j = index; trackBy: trackByIndexTag">
                            <div class="keywords">
                                <div class="txt_field">
                                    <input class="inputtxt" type="text" name="keywords" (input)="updateTag($event, j)" [value]="x">
                                    <span></span>
                                    <div class="labelline"> Keyword </div>
                                </div>
                                <button type="button" class="removetag" (click)="removetag(j)" *ngIf="tags.length > 1">
                                    <i class='bx bx-x'></i>
                                </button>
                            </div>
                        </ng-container>
                        </div>
                        <div class="addbtn">
                            <button type="button" class="add-keyword" (click)="addtag()" [disabled]="TagMaxLimitReached()">ADD</button>
                        </div>
                    
                        <!-- Display message based on the number of input fields -->
                        <p *ngIf="tags.length < 10"> Add multiple KEYWORDS </p>
                        <p *ngIf="tags.length === 10"> Maximum KEYWORDS reached </p>                  
                    </div>
                    
                </div>


                <!-- BUTTONS -->
                <div class="buttons">
                    <!-- <a class="add" (click)="addBox()">  -->
                        <input id="submit-button" class="add" type="submit" value="Add"> 
                    <!-- </a> -->

                    <a class="cancel" (click)="cancelBox()"> 
                        <span> Cancel </span>
                    </a>
                </div>
            </form>
        
        </div>
        


    </div>
</main>