/* MAIN PADDING */
main {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    main {
        margin-left: 0px;
    }
}
/* END OF MAIN PADDING */

.content {
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

/* PERIODICALS TAB BUTTON */

.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
    padding-left: 5px;
    margin-top: 20px;
	display: flex;
	align-items: stretch;
	list-style: none;
    width: 400px;  
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    width: 400px;
}

.tab {
    width: 35%;
}

.tab > label {
    color: var(--black);
	display: block;
    font-size: 15px; 
    font-weight: bold;
    line-height: 10px;
    padding: 10px 10px;
    text-align: center;
	background: var(--primary-color);
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
    border-bottom: 3px solid var(--black);
}

.tab:hover label {
	color: var(--main-green);
    border-bottom: 3px solid var(--main-green);
}

.tab-content {
	display: none;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label {
	color: var(--main-green);
    border-bottom: 3px solid var(--main-green);
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
	display: block;
}

.table {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: var(--secondary-color);
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid var(--border-color);
}

/* TABLE CONTENT */
.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-filters a {
    color: var(--black);
    font-size: 16px;
    padding: 12px 16px;
    font-weight: 500;
    margin-right: 1em;
    display: inline-block;
    
}

.table-filters a:hover {
    text-decoration: none;
}

.table-filters select {
    background: var(--primary-color);
    font-family: 'Poppins';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 12em;
    height: 2.5em;
    border: 1px solid var(--table-border);
    border-radius: 7px;
}

.table-filters option {
    padding: 30px;
    margin: 30px;
}

.table-head input[type=text] {
    font-family: 'Poppins';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 250px;
    padding: 12px 16px;
    height: 2.3em;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

input:focus{
    outline: none;
}

.table-head .search-container {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 2.5em;
    border: 1px solid var(--table-border);
    background-color: var(--primary-color);
}

.table-head .search-container button {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid var(--table-border);
    background: var(--main-green);
    color: var(--primary-color);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.table-head .search-container button:hover {
    background: var(--green-hover);
}





/* ACTIONS CONTENT */
section .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

section .actions a {
    padding: 10px 10px 7px 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

section .edit {
    background-color: var(--main-green);
}

section .edit:hover {
    background-color: var(-green-hover);
}

section .delete {
    background-color: var(--red);
}

section .delete:hover {
    background-color:#8f1515;
}

.actions .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: rgba(0, 0, 0, 0.395);
    color: var(--primary-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.edit:hover .tooltiptext {
    visibility: visible;
}

.delete:hover .tooltiptext {
    visibility: visible;
}

/* table */

table {
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid var(--table-border2);
}

table,
th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border2);
}

th {
    letter-spacing: 1px;
    color: var(--black);
    font-weight: bold;
    border-bottom: 2px solid var(--black);
    background-color: var(--secondary-color);
}


table tr:hover{
    background-color: rgb(227, 227, 227);
}

table td:nth-child(2) {
    width: 500px;
    text-align: left;
}

table td:nth-child(3) {
    width: 250px;
}

table td:nth-child(5) {
    width: 120px;
}