<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Edit Book Details </h1>
                    <button class="exit-button" (click)="cancelBox()"> &times; </button>
                </div>

                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <form id="edit-form" enctype="multipart/form-data" [formGroup]="editForm" (ngSubmit)="updateBook()">
                            <div class="input_field">
                                <div class="input-row">
                                    <div class="txt_field_shorter">
                                        <input class="inputtxt" type="text" formControlName="accession" (keyup)="deleteIfInvalid($event, 'accession')">
                                        <span></span>
                                        <div class="labelline1"> Accession No. <p class="required" *ngIf="isNull('accession')">*Required</p> </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="title" (keyup)="deleteIfInvalid($event, 'title')">
                                        <span></span>
                                        <div class="labelline1"> Title <p class="required" *ngIf="isNull('title')">*Required</p> </div>
                                    </div>
                                </div>
                                
                                 <!-- ADD MULTIPLE AUTHORS -->
                                 <div class="input-row">
                                    <div class="author-container" formArrayName="authors">
                                        <ng-container *ngFor="let x of getAuthorsArray.controls; let i = index;" [formGroupName]="i">
                                            <div class="multiple-author">
                                                <div class="txt_field">
                                                    <input class="inputtxt" type="text" [formControlName]="'authorName'" (keyup)="deleteIfInvalid($event, 'authorName', i)">
                                                    <span></span>
                                                    <div class="labelline1"> Author <p class="required" *ngIf="isNull('authorName', i)">*Required</p> </div>
                                                </div>
                                                <button type="button" class="removebtn" (click)="removeAuthor(i)" *ngIf="getAuthorsArray.length > 1">
                                                    <i class='bx bx-x'></i>
                                                </button>
                                            </div>
                                        </ng-container>

                                    </div>
                                      
                                    <div class="addbtn">
                                        <button type="button" class="add-author" (click)="addAuthor()" [disabled]="getAuthorsArray.length >= 5">ADD</button>
                                    </div>
                                    
                                    <!-- Display message based on the number of input fields -->
                                    <p class="message" *ngIf="getAuthorsArray.length < 5">Add more AUTHOR if necessary</p>
                                    <p class="message" *ngIf="getAuthorsArray.length >= 5">Maximum AUTHORS reached</p>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="publisher" (keyup)="deleteIfInvalid($event, 'publisher')">
                                        <span></span>
                                        <div class="labelline1"> Publisher <p class="required" *ngIf="isNull('accession')">*Required</p> </div>
                                    </div>
                                    <div class="txt_field_short">
                                        <select class="inputtxt" formControlName="copyright">
                                            <option *ngFor="let x of year" [value]="x" [selected]="x === currentYear"> {{ x }} </option>
                                        </select>
                                        <span></span>
                                        <div class="labelline1"> Copyright </div>
                                    </div>
                                </div>

                                <!-- [selected]="location.location_short === book.location" -->
                                <div class="input-row">
                                    <div class="txt_field">
                                        <select class="inputtxt" formControlName="location">
                                            <option *ngFor="let location of locations" [value] = "location.location_short" >
                                                {{ location.location_short }}{{ location.location_full ? ': ' + location.location_full : '' }}</option>
                                        </select>
                                        <span></span>
                                        <div class="labelline1"> Location </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="call_number"  (keyup)="deleteIfInvalid($event, 'call_number')" placeholder="XXXX.X.XXX">
                                        <span></span>
                                        <div class="labelline1"> Call Number <p class="required" *ngIf="isNull('call_number')">*Required</p> </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="author_number" (keyup)="deleteIfInvalid($event, 'author_number')">
                                        <span></span>
                                        <div class="labelline1"> Author Number <p class="required" *ngIf="isNull('author_number')">*Required</p> </div>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text"  formControlName="volume" (keyup)="deleteIfInvalid($event, 'volume')">
                                        <span></span>
                                        <div class="labelline1"> Volume </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" formControlName="edition"  (keyup)="deleteIfInvalid($event, 'edition')">
                                        <span></span>
                                        <div class="labelline1"> Edition </div>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" formControlName="pages" (keyup)="deleteIfInvalid($event, 'pages')">
                                        <span></span>
                                        <div class="labelline1"> Pages </div>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="txt_field">
                                        <input class="inputtxt" type="text" min="0" formControlName="remarks" (keyup)="deleteIfInvalid($event, 'remarks')">
                                        <span></span>
                                        <div class="labelline1"> Remarks </div>
                                    </div>
                                </div>
                                
                                <div class="input-row">
                                    <div class="txt_field">
                                        <select class="inputtxt" id="language" formControlName="source_of_fund" required (change)="sourceOfFundEvent($event)">
                                            <option value="Purchased" > Purchased </option>
                                            <option value="Donated" > Donated </option>
                                            <option value="Replacement" > Replacement </option>
                                        </select>
                                        <span></span>
                                        <label class="labelline1" for="fund"> Source of Fund </label>
                                    </div>
                                    <div class="txt_field">
                                        <input class="inputtxt" type="date" formControlName="acquired_date" (change)="deleteIfInvalid($event, 'acquired_date')">
                                        <span></span>
                                        <div class="datelabel"> Date Purchased/Donated <p class="required" *ngIf="isNull('acquired_date')">*Required</p> </div>
                                    </div> 
                                    <div class="txt_field">
                                        <span class="peso-sign">₱</span>
                                        <input class="inputtxt-price" formControlName="price" (change)="deleteIfInvalid($event, 'price')">
                                        <span></span>
                                        <div class="labelline1"> Price <p class="required" *ngIf="isNull('price')">*Required</p> </div>
                                    </div>
                                </div>

                                <!-- IMAGE CROP AND PREVIEW -->
                                <div class="img-row" id="no-add-function">
                                    <div class="img-content">
                                        <div class="left">
                                            <div class="txt_field">
                                                <input class="inputtxt" id="fileInput" type="file" accept=".jpeg, .png, .jpg" (change)="onFileChange($event)" style="padding-left: 110px;">
                                                <span></span>
                                                <div class="uploadlabel"> Upload Image </div>
                                            </div>
                                            <div class="img-crop">
                                                <ng-container *ngIf="validFile">
                                                    <image-cropper
                                                    [imageChangedEvent]="imgChangeEvt"
                                                    [aspectRatio]="3/4"
                                                    [resizeToWidth]="500"
                                                    [maintainAspectRatio]="true"
                                                    (imageCropped)="cropImg($event)"
                                                    (imageLoaded)="imgLoad()"
                                                    (cropperReady)="initCropper()"
                                                    (loadImageFailed)="imgFailed()"
                                                    >
                                                    </image-cropper>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="preview" *ngIf="image">
                                                <h2> Cropped Image Preview </h2>
                                            </div>
                                            <div class="preview" *ngIf="!image">
                                                <h2> Current Saved Image Preview </h2>
                                            </div>
                                            <div class="cropped-image-preview" *ngIf="cropImagePreview">
                                                <img [src]="cropImagePreview || book.image_url" alt="Cropped Image Preview">
                                            </div>
                                            <div class="cropped-image-preview" *ngIf="!cropImagePreview">
                                                <img [src]="errorImage" alt="Cropped Image Preview">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="update-btn" (click)="updateBook()"
                        [ngClass]="{ 'validSubmit': editForm.valid, 'invalidSubmit': editForm.invalid }" 
                        [disabled]="editForm.invalid"> Update </button>
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                        <button class="cancel-btn" (click)="cancelBox()"> Cancel </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>