// TABLE HEAD CONTENTS
.table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-name h3 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: var(--darker-green);
    text-transform: uppercase;
}

// DATE FILTER
.input-row {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 5px;
}

.input-row .txt_field {
    flex-basis: 100%;
}

.input-row .txt_field {
    position: relative;
    margin: 0.1rem 0;
}

.txt_field {
	font-size: 14px;
	font-weight: 400;
	display: block;
	margin-bottom: 0.2rem;
    height: 2.5rem;
	color: black;
	border: 1px solid var(--table-border);
	padding: 0.5rem 0.75rem;
	border-radius: 7px;
    display: flex;
}

label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'Montserrat';
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0px;
    width: 80px;
    height: 2.4rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: default;
    background-color: var(--main-green);
    border: none;
    transition: background-color 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
	font-family: 'Montserrat';
	border: none;
	border-radius: 0.25rem;
    background-color: transparent;
	border: 1px solid transparent;
	line-height: 1.5rem;
    padding-left: 75px;
	font-size: 1rem;
	color: black;
	width: 100%;
}

input:focus {outline: none;}
#ui-datepicker-div {
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.table-content {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background: var(--container-color);
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border: 0.5px solid var(--table-border);
    overflow-x: auto;
}

// SCROLLBAR //
.table-content::-webkit-scrollbar {
    height: 5px;
}

.table-content::-webkit-scrollbar-thumb {
    background-color: var(--table-border);
    border-radius: 5px;
}

.table-content::-webkit-scrollbar-track {
    background-color: var(--white); 
    margin-top: 90px;
    margin-bottom: 10px;
}

.table-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--table-darkhover);
}
// END OF SCROLLBAR //

/* TABLE */
table {
    border-radius: 5px;
    border: 1px solid var(--table-border);
    table-layout: fixed;
    padding: 10px;
    tr {
        transition: all 0.3s ease;
    } 
    tr:hover{
        background-color: var(--table-hover);
    }
}

th {
    background-color: var(--main-green) !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    justify-content: center;
    height: 60px;
}

th, td {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid var(--table-border);
    justify-content: center;
    transition: all 0.3s ease-in;
}

table {
    td:nth-child(1) {
        min-width: 200px;
        max-width: 200px;
    }
    
    td:nth-child(2) {
        min-width: 300px;
        max-width: 300px;
    }
    
    td:nth-child(3) {
        text-align: left;
        min-width: 300px;
        max-width: 300px;
    }

    td:nth-child(4) {
        min-width: 100px;
        max-width: 100px;
    }
}

mat-paginator {
    font-size: 16px;
}
// END OF TABLE STYLE CONTENT //