<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> {{ book.location }} Book </h1>
                    <button class="exit-button" (click)="closepopup('')"> &times; </button>
                </div>

                <div class="detailsbody">
                    <div class="body">

                        <div class="details">
                            <!-- MATERIAL IMAGE -->
                            <div class="mat-image">
                                <img class="cover" alt="book image" [src]="book.image_url || errorImage">
                            </div>

                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td>{{book.accession}}</td>
                                  </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td>{{book.title}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td>{{book.publisher}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td>
                                    <ng-container *ngIf="!book.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of book.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td>{{ book.volume != null ? book.volume : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Edition</strong></td>
                                    <td>{{ book.edition != null ? book.edition : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Copyright</strong></td>
                                    <td>{{ book.copyright }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Call Number</strong></td>
                                    <td>{{ book.call_number }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Author Number</strong></td>
                                    <td>{{ book.author_number }}</td>
                                </tr>
                            </table>
                        </div>

                        <p class="message"> Additional Info </p>
                        <div class="details">
                            <div class="additional-info">
                                <table class="details-table">
                                    <tr>
                                        <td class="data"><strong>Source of Fund</strong></td>
                                        <td class="data2">{{ book.source_of_fund || 'N/A' }}</td>
                                        <td class="data"><strong>Location</strong></td>
                                        <td class="data2">{{book.location}}</td>
                                      </tr>
                                    <tr>
                                      <td class="data"><strong>Date {{ book.source === 'Purchased' ? 'Purchased' : (book.source === 'Donated') ? 'Donated' : 'Acquired' }}</strong></td>
                                      <td class="data2">
                                        <ng-container *ngIf="book.acquired_date != null"> {{ book.acquired_date | date: 'mediumDate' }} </ng-container>
                                        <ng-container *ngIf="book.acquired_date === null"> N/A </ng-container>
                                      </td>
                                      <td class="data"><strong>Pages</strong></td>
                                      <td class="data2">{{ book.pages || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                      <td class="data"><strong>Price</strong></td>
                                      <td class="data2">{{ book.price ? '₱ ' + book.price : 'N/A' }}</td>
                                      <td class="data"><strong>Remark</strong></td>
                                      <td class="data2">{{ book.remarks != null ? book.remarks : 'N/A' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="button-container">
                        <!--<button class="edit-btn"> Edit </button>-->
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
</main>