/* MAIN PADDING FOR RESPONSIVE */
main {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 20px;
}

@media screen and (min-width: 1220px) {
    main {
        margin-left: 220px;
        margin-right: 20px;
    }
}
/* END OF MAIN PADDING */

