/* MAIN PADDING  FOR RESPONSIVE */
.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 1220px) {
    .main-content {
        margin-left: 200px;
        margin-right: 0;
    }
}
/* END OF MAIN PADDING */


/****************************************** Tabs ****************************************/  
.page-content {
	min-width: 100%; 
	background: #ffffff;

}

.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
	
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
    max-width: 100%;  
    margin-left: 50px;
    margin-right: 30px;
	border-bottom: 3.5px solid #000000;
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    margin-left: 50px;
    max-width: 100%;  
    margin-right: 30px;
	color: #31A463;
}

.tab {
    margin-top: 5px;
    width: 100%; 
}

.tab > label {
    color: #000000;
	display: block;
    font-size: 17px; 
    font-weight: bold;
    line-height: 15px;
    padding: 15px 10px;
    text-align: center;
	background: #ffffff;
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
}
.tab:hover label {
    color: #ffffff;
	background-color: #31A463; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* Tab */

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label {
	border-bottom-color: #31A463;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background: #31A463;
	color: #ffffff;
    width: 100%;
    
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
	display: block;
}

.tab-content {
	display: none;
    min-width: 98%; 
	color: #777;
}

/********************************************* Form *************************************/

/* For the Form bg  */ 
.container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #EEEEEE;
    height: 825px;
    margin-top: 50px;
    margin-left: 48px;
}

.arti-container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #EEEEEE;
    height: 885px;
    margin-top: 50px;
    margin-left: 48px;
}

.tab-content {
    width: 500px; 
}

// Book - Accession

.input-row {
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.3rem;
    
}

.input-row .entryarea1 {
    flex-basis: 100%;
}

.input-row .entryarea {
    flex-basis: 50%;
}

.entryarea input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea span::before {
    content: '';
    position: absolute;
    margin-left: -325px;
    margin-top: 57px;
    width: 21.3%;
    height: 2px;
    transition: .3s;
}

.entryarea input:focus ~ span::before {
    margin-left: -325px;
    width: 21.3%;
    margin-top: 57px;
    transition: .3s;
    background: #31A463;
}


/* Change Bg color when Hover */ 

.entryarea input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea input:valid ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea input:focus ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


.entryarea1 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline1 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea1 span::before {
    content: '';
    position: absolute;
    margin-left: -652px;
    margin-top: 57px;
    width: 42.9%;
    height: 2px;
    transition: .3s;
}

.entryarea1 input:focus ~ span::before {
    margin-left: -652px;
    width: 42.9%;
    margin-top: 57px;
    transition: .3s;
    background: #31A463;
}


/* Change Bg color when Hover */ 

.entryarea1 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea1 input:valid ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea1 input:focus ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


// Book - Author 

.author-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    padding-top: 30px;
    gap: 1.3rem;
    z-index: 1;
}

.entryarea2 input {
    position: absolute;
    margin-top: -25px;
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;

}

.labelline2 {
    position: absolute;
    margin-top: 6px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}


/* Bottom Line when hover */ 

.entryarea2 span::before {
    content: '';
    position: absolute;
    margin-top: 32px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea2 input:focus ~ span::before {
    width: 100%;
    margin-top: 32px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea2 input:hover{
    background-color: #ececec;
}

/* Label float */ 

.entryarea2 input:valid ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea2 input:focus ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

.input-row p {
    position: absolute;
    padding-top: 72px;
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;

}

.input-row .multiple-author {
    position: relative;
    flex-basis: 100%;
    margin-top: 5px;
}

.addbtn .add-author {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    height: 60px;
    width: 70px;
    background-color: var(--main-green);
    color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.input-row .add-author:hover {
    background-color: var(--green-hover);
}

.input-row .removebtn {
    display: none;
}

.input-row .multiple-author:hover {
    .removebtn {
        position: absolute;
        font-size: 30px;
        color: var(--cancel-btn);
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        top: 0;
        right: 0;
        margin: 15px 10px 0 0;
        cursor: pointer;
    }
}

// Book - Copyright

.input-row1 {
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    
}

.input-row1 .entryarea3, .input-row1 .entryarea4, .input-row1 .entryarea5 {
    flex-basis: 100%;
}

.entryarea3 select{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline3 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea3 span::before {
    content: '';
    position: absolute;
    margin-left: -319px;
    margin-top: 87px;
    width: 21%;
    height: 2px;
    transition: .3s;
}

.entryarea3 select:focus ~ span::before {
    margin-left: -319px;
    width: 21%;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}



/* Change Bg color when Hover */ 

.entryarea3 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea3 select:valid ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea3 select:focus ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


// Books - Volume 

.entryarea4 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline4 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea4 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea4 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea4 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea4 input:valid ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea4 input:focus ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Books - Edition  

.entryarea5 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline5 {
    position: absolute;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea5 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea5 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea5 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea5 input:valid ~ .labelline5 {
    font-size: 12px;
    margin-top: -45px;
    letter-spacing: 0.5px;
}
  
.entryarea5 input:focus ~ .labelline5 {
    font-size: 12px;
    margin-top: -45px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Book - Date Purchased 

.input-row1 .entryarea6, .input-row1 .entryarea7 {
    flex-basis: 100%;
}

.entryarea7 input{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline7 {
    position: absolute;
    margin-left: 16px;
    margin-top: -42px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
    letter-spacing: 0.5px;
}

/* Bottom Line when hover */ 

.entryarea7 span::before {
    content: '';
    position: absolute;
    margin-top: 107px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea7 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 107px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea7 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea7 input:valid ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea7 input:focus ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Book - Remarks 

.entryarea6 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline6 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea6 span::before {
    content: '';
    position: absolute;
    margin-top: 107px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea6 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 107px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea6 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea6 input:valid ~ .labelline6 {
    margin-top: -45px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea6 input:focus ~ .labelline6 {
    margin-top: -45px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Book - Source of fund 

.input-row1 .entryarea8, .input-row1 .entryarea9 {
    flex-basis: 100%;
}

.entryarea8 select{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline8 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea8 span::before {
    content: '';
    position: absolute;
    margin-top: 107px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea8 select:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 107px;
    transition: .3s;
    background: #31A463;
}



/* Change Bg color when Hover */ 

.entryarea8 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea8 select:valid ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea8 select:focus ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Book - Copies 

.input-row1 .entryarea10, .input-row1 .entryarea-10, .input-row1 .entryarea11 {
    flex-basis: 50%;
}

.entryarea10 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 60px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline10 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea10 span::before {
    content: '';
    position: absolute;
    margin-top: 117px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea10 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 117px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea10 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea10 input:valid ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea10 input:focus ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Pages 

.entryarea-10 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 60px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline-10 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea-10 span::before {
    content: '';
    position: absolute;
    margin-top: 117px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea-10 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 117px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea-10 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea-10 input:valid ~ .labelline-10 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea-10 input:focus ~ .labelline-10 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Upload Image

.entryarea11 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-right: 10px;
    margin-top: 59px;
    height: 61px;
    font-size: 16px;
    background-color: #f6f6f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline11 {
    position: absolute;
    margin-top: -75px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 5px;
    font-family: 'Montserrat';
    color: #ffffff;
    height: 60px;
    cursor: pointer;
    background-color: #31A463;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* Book Submit Button */ 

.bookbtn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: white;
    background-color: #31A463;
    text-decoration: none;
    height: 40px;
    margin-top: 50px;
    width: 50%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

.bookbtn > input:hover {
	display: block;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
	width: 11%;
	margin-top: 595px;
    margin-left: 500px;
	background-color: #298f55;
    border-radius: 5px;
	color: #ffffff;
	padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.16);
}



/*************************** PERIO *********************************/

.entryarea select {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline-1 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea span::before {
    content: '';
    position: absolute;
    margin-left: -325px;
    margin-top: 57px;
    width: 21.3%;
    height: 2px;
    transition: .3s;
}

.entryarea select:focus ~ span::before {
    margin-left: -325px;
    width: 21.3%;
    margin-top: 57px;
    transition: .3s;
    background: #31A463;
}


/* Change Bg color when Hover */ 

.entryarea select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea select:valid ~ .labelline-1 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea select:focus ~ .labelline-1 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Article - Issue

.input-row1 .entryarea_9 {
    flex-basis: 100%;
}

.entryarea_9 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline_9 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea_9 span::before {
    content: '';
    position: absolute;
    margin-top: 108px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea_9 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 108px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea_9 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea_9 input:valid ~ .labelline_9 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea_9 input:focus ~ .labelline_9 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

/* Issue */ 
.input-row1 .entryarea9, .input-row1 .entryarea9 select {
    flex-basis: 100%;
}

.entryarea9 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline9 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea9 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea9 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea9 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea9 input:valid ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea9 input:focus ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

/* Article - Language */ 

.entryarea9 select {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline9 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea9 span::before {
    content: '';
    position: absolute;
    margin-top: 88px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea9 select:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 88px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea9 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea9 select:valid ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea9 select:focus ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Date Published 

.input-row1 .entryarea13 {
    flex-basis: 100%;
}

.entryarea13 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 60px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline13 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea13 span::before {
    content: '';
    position: absolute;
    margin-top: 117px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea13 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 117px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea13 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea13 input:valid ~ .labelline13 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea13 input:focus ~ .labelline13 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
}

// Date Published 

.input-row1 .entryarea_13 {
    flex-basis: 100%;
}

.entryarea_13 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 60px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline_13 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea_13 span::before {
    content: '';
    position: absolute;
    margin-top: 118px;
    margin-left: -995px;
    width: 65.5%;
    height: 2px;
    transition: .3s;
}

.entryarea_13 input:focus ~ span::before {
    width: 65.5%;
    margin-top: 118px;
    margin-left: -995px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea_13 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea_13 input:valid ~ .labelline_13 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea_13 input:focus ~ .labelline_13 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

.input-row1 .entryarea-3, .input-row1 .entryarea-4, .input-row1 .entryarea-5 {
    flex-basis: 100%;
}

.entryarea-3 select{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline-3 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea-3 span::before {
    content: '';
    position: absolute;
    margin-left: -319px;
    margin-top: 108px;
    width: 21%;
    height: 2px;
    transition: .3s;
}

.entryarea-3 select:focus ~ span::before {
    margin-left: -319px;
    width: 21%;
    margin-top: 108px;
    transition: .3s;
    background: #31A463;
}


/* Change Bg color when Hover */ 

.entryarea-3 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea-3 select:valid ~ .labelline-3 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea-3 select:focus ~ .labelline-3 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


// Books - Volume 

.entryarea-4 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline-4 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea-4 span::before {
    content: '';
    position: absolute;
    margin-top: 108px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea-4 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 108px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea-4 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea-4 input:valid ~ .labelline-4 {
    margin-top: -45px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea-4 input:focus ~ .labelline-4 {
    margin-top: -45px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Books - Volume  

.entryarea-5 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 50px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline-5 {
    position: absolute;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea-5 span::before {
    content: '';
    position: absolute;
    margin-top: 108px;
    width: 20.99%;
    margin-left: -319px;
    height: 2px;
    transition: .3s;
}

.entryarea-5 input:focus ~ span::before {
    width: 20.99%;
    margin-left: -319px;
    margin-top: 108px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea-5 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea-5 input:valid ~ .labelline-5 {
    font-size: 12px;
    margin-top: -45px;
    letter-spacing: 0.5px;
}
  
.entryarea-5 input:focus ~ .labelline-5 {
    font-size: 12px;
    margin-top: -45px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Avstract  

.input-row1 .entryarea_14 {
    flex-basis: 100%;
}

.entryarea_14 textarea {
    font-family: 'Montserrat';
    width: 100%;
    height: 150px;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline_14 {
    position: absolute;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea_14 span::before {
    content: '';
    position: absolute;
    margin-top: 178px;
    width: 65.5%;
    margin-left: -995px;
    height: 2px;
    transition: .3s;
}

.entryarea_14 textarea:focus ~ span::before {
    width: 65.5%;
    margin-left: -995px;
    margin-top: 178px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea_14 textarea:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea_14 textarea:valid ~ .labelline_14 {
    margin-top: -135px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea_14 textarea:focus ~ .labelline_14 {
    margin-top: -135px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

.input-row1 .entryarea15 {
    flex-basis: 100%;
}

.entryarea15 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 60px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline15 {
    position: relative;
    margin-top: -29px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea15 span::before {
    content: '';
    position: absolute;
    margin-top: 117px;
    width: 32.1%;
    margin-left: -488px;
    height: 2px;
    transition: .3s;
}

.entryarea15 input:focus ~ span::before {
    width: 32.1%;
    margin-left: -488px;
    margin-top: 117px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea15 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea15 input:valid ~ .labelline15 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea15 input:focus ~ .labelline15 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}
