<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main-content">
    <div class="header"> 
        <h1> Add Materials </h1>
        <a>
            <button class="import-material" type="button" (click)="importmaterialBtnClick()"> Import </button>
        </a>

        <!-- <a class="academic-report"> 
            <h2> Import </h2>
        </a> -->
    </div>

<div class="page-content">
	<div class="tabbed">
		<input type="radio" id="tab1" name="css-tabs" checked="checked">
		<input type="radio" id="tab2" name="css-tabs">
		<input type="radio" id="tab3" name="css-tabs">
        <input type="radio" id="tab4" name="css-tabs">

		<ul class="tabs">
			<li class="tab"><label for="tab1">Books</label></li>
			<li class="tab"><label for="tab2">Periodicals</label></li>
			<li class="tab"><label for="tab3">Articles</label></li>
            <li class="tab"><label for="tab4">Audio Visual</label></li>
		</ul>

<!------------------------------ Books Tab ------------------------------------------->

		<div class="tab-content">
            <form id="book-form" enctype="multipart/form-data" [formGroup]="bookForm" (ngSubmit)="materialSubmit('book')">
                <div class="container">

                    <div class="input-row">
                        <div class="entryarea">
                            <input type="text" formControlName="accession" (keyup)="deleteIfInvalid($event, 'accession', 'book')">
                            <span></span>
                            <div class="labelline"> Accession No. <p class="required" *ngIf="isNull('accession', 'book')">*Required</p> </div>
                        </div>

                        <div class="entryarea  ">
                            <input type="text" formControlName="title" (keyup)="deleteIfInvalid($event, 'title', 'book')">
                            <span></span>
                            <div class="labelline"> Title <p class="required" *ngIf="isNull('title', 'book')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="author-container" formArrayName="authors">
                            <ng-container *ngFor="let x of getAuthorsArray('book').controls; let i = index;" [formGroupName]="i">
                              <div class="multiple-author">
                                <div class="entryarea2">
                                  <input class="inputtxt" type="text" formControlName="authorName" (keyup)="deleteIfInvalid($event, 'authorName', 'book', i)">
                                  <span></span>
                                  <div class="labelline2"> Author <p class="required" *ngIf="isNull('authorName', 'book', i)">*Required</p> </div>
                                </div>
                                <button type="button" class="removebtn" (click)="removeAuthor('book', i)" *ngIf="getAuthorsArray('book').length > 1">
                                  <i class='bx bx-x'></i>
                                </button>
                              </div>
                            </ng-container>
                          </div>
                          
                            <div class="addbtn">
                            <button type="button" class="add-author" (click)="addAuthor('book')" [disabled]="getAuthorsArray('book').length === 5">ADD</button>
                        </div>

                            <!--- Display message based on the number of input fields ---->
                            <p *ngIf="getAuthorsArray('book').length < 5">Add more AUTHOR if necessary</p>
                            <p *ngIf="getAuthorsArray('book').length === 5">Maximum AUTHORS reached</p>

                    </div>

                    <div class="input-row1">
                        <div class="entryarea9">
                            <input type="text" formControlName="publisher" (keyup)="deleteIfInvalid($event, 'publisher', 'book')">
                            <span></span>
                            <div class="labelline9"> Publisher <p class="required" *ngIf="isNull('publisher', 'book')">*Required</p> </div>
                        </div>
                        <div class="entryarea8">
                            <select formControlName="copyright">
                                <option *ngFor="let x of year" [value]="x" [selected]="x === currentYear"> {{ x }} </option>
                                <option value=""> N.D. </option>
                            </select>
                            <span></span>
                            <div class="labelline8"> Copyright </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea3">
                            <select formControlName="location">
                                <option *ngFor="let location of locations" [value] = "location.location_short">
                                    {{ location.location_short }}{{ location.full_location ? ': ' + location.location_full : '' }}
                                </option>
                            </select>
                            <span class="source"></span>
                            <div class="labelline3"> Location </div>
                        </div>

                        <div class="entryarea4">
                            <input type="text" formControlName="call_number" (keyup)="deleteIfInvalid($event, 'author_number', 'book')" placeholder="XXXX.X.XXX">
                            <span></span>
                            <div class="labelline4"> Call Number <p class="required" *ngIf="isNull('call_number', 'book')">*Required</p> </div>
                        </div>

                        <div class="entryarea4">
                            <input type="text" formControlName="author_number" (keyup)="deleteIfInvalid($event, 'author_number', 'book')">
                            <span></span>
                            <div class="labelline4"> Author Number <p class="required" *ngIf="isNull('author_number', 'book')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea4">
                            <input type="text" formControlName="volume" (keyup)="deleteIfInvalid($event, 'volume', 'book')">
                            <span></span>
                            <div class="labelline4"> Volume </div>
                        </div>

                        <div class="entryarea4">
                            <input type="text" formControlName="edition" (keyup)="deleteIfInvalid($event, 'edition', 'book')" >
                            <span></span>
                            <div class="labelline4"> Edition </div>
                        </div>

                        <div class="entryarea4">
                            <input formControlName="pages" (keyup)="deleteIfInvalid($event, 'pages', 'book')">
                            <span></span>
                            <div class="labelline4"> Pages <p class="required" *ngIf="isNull('pages', 'book')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea6">
                            <input type="text" formControlName="remarks" (keyup)="deleteIfInvalid($event, 'remarks', 'book')">
                            <span></span>
                            <div class="labelline6"> Remarks </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea7">
                            <input type="date" formControlName="acquired_date" (change)="deleteIfInvalid($event, 'acquired_date', 'book')">
                            <span></span>
                            <div class="labelline7"> Date Purchased/Donated <p class="required" *ngIf="isNull('acquired_date', 'book')">*Required</p> </div>
                        </div>

                        <div class="entryarea3">
                            <select id="funds" formControlName="source_of_fund" (change)="changedFunds($event)">
                                <option value="Donated"> Donated </option>
                                <option value="Purchased" selected> Purchased </option>
                                <option value="Replacement"> Replacement </option>
                            </select>
                            <span class="source"></span>
                            <div class="labelline3"> Source of Fund  </div>
                        </div>
                        <div class="entryarea5">
                            <span class="peso-sign">₱</span>
                            <input formControlName="price" (change)="deleteIfInvalid($event, 'price', 'book')">
                            <span></span>
                            <div class="labelline5"> Price <p class="required" *ngIf="isNull('price', 'book')">*Required</p> </div>
                        </div>
                    </div>


                    <div class="input-row1">
                        <!-- image input field -->
                        <div class="entryarea11">
                            <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" (change)="onFileChange($event, 'book')">
                            <span></span>
                            <div class="labelline11"> Upload Image </div>
                        </div>

                        <div class="entryarea10">
                            <input type="text" formControlName="copies" (change)="deleteIfInvalid($event, 'copies', 'book')">
                            <span [ngClass]="{'errorSpan': isInvalid('copies', 'book') }"></span>
                            <div class="labelline10" [ngClass]="{ 'errorLabel': isInvalid('copies', 'book') }"> Copies </div>
                        </div>
                    </div>

                    <!-- IMAGE CROP AND PREVIEW -->
                    <div class="img-row" id="no-add-function">
                        <div class="img-content">
                            <div class="left">
                                <div class="img-crop">
                                    <ng-container *ngIf="validBookImage">
                                        <image-cropper
                                          [imageChangedEvent]="bookImgChangeEvt"
                                          [aspectRatio]="3/4"
                                          [resizeToWidth]="500"
                                          [maintainAspectRatio]="true"
                                          (imageCropped)="cropImg($event, 'book')"
                                          (imageLoaded)="imgLoad()"
                                          (cropperReady)="initCropper()"
                                          (loadImageFailed)="imgFailed()"
                                        >
                                        </image-cropper>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="right">
                                <div class="preview" *ngIf="bookCropImagePreview">
                                    <h2> Cropped Image Preview </h2>
                                </div>
                                <div class="cropped-image-preview" *ngIf="bookCropImagePreview">
                                    <img [src]="bookCropImagePreview" alt="Cropped Image Preview">
                                    <!-- <input class="inputtxt" type="file" [value]="cropImagePreview" name="image_url" (change)="onFileChange($event, 'book')" hidden> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="book-btn">
                        <input class= " button" type="submit" value="Add" id="submit" 
                            [ngClass]="{ 'validSubmit': bookForm.valid, 'invalidSubmit': bookForm.invalid }" [disabled]="bookForm.invalid">
                    </div>
                </div>
            </form>
        </div>


<!------------------------------ Periodicals Tab ------------------------------------->


        <div class="tab-content">
            <form id="periodical-form" enctype="multipart/form-data" [formGroup]="periodicalForm" (ngSubmit)="materialSubmit('periodical')">
                <div class="container">

                    <div class="input-row">
                        <div class="entryarea1">
                            <select id="type" formControlName="periodical_type">
                                <option value=0 selected> Journal </option>
                                <option value=1> Magazine </option>
                                <option value=2> Newspaper </option>
                            </select>
                            <span></span>
                            <div class="labelline1"> Type of Material </div>
                        </div>

                        <div class="entryarea">
                            <input type="text" formControlName="accession" (keyup)="deleteIfInvalid($event, 'accession', 'periodical')">
                            <span></span>
                            <div class="labelline"> Accession No. <p class="required" *ngIf="isNull('accession', 'periodical')">*Required</p> </div>
                        </div>

                        <div class="entryarea">
                            <input type="text" formControlName="title" (keyup)="deleteIfInvalid($event, 'title', 'periodical')">
                            <span></span>
                            <div class="labelline"> Title <p class="required" *ngIf="isNull('title', 'periodical')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="author-container" formArrayName="authors">
                            <ng-container *ngFor="let x of getAuthorsArray('periodical').controls; let i = index;" [formGroupName]="i">
                                <div class="multiple-author">
                                    <div class="entryarea2">
                                        <input class="inputtxt" type="text" [formControlName]="'authorName'" (keyup)="deleteIfInvalid($event, 'authorName', 'periodical', i)">
                                        <span></span>
                                        <div class="labelline2"> Author <p class="required" *ngIf="isNull('authorName', 'periodical', i)">*Required</p> </div>
                                    </div>
                                    <button type="button" class="removebtn" (click)="removeAuthor('periodical', i)" *ngIf="getAuthorsArray('periodical').length > 1">
                                        <i class='bx bx-x'></i>
                                    </button>
                                </div>
                            </ng-container>

                        </div>
                            <div class="addbtn">
                            <button type="button" class="add-author" (click)="addAuthor('periodical')" [disabled]="getAuthorsArray('periodical').length === 5">ADD</button>
                        </div>

                            <!--- Display message based on the number of input fields ---->
                            <p *ngIf="getAuthorsArray('periodical').length < 5">Add more AUTHOR if necessary</p>
                            <p *ngIf="getAuthorsArray('periodical').length === 5">Maximum AUTHORS reached</p>

                    </div>

                    <div class="input-row1">
                        <div class="entryarea9">
                            <input type="text" formControlName="publisher" (keyup)="deleteIfInvalid($event, 'publisher', 'periodical')">
                            <span></span>
                            <div class="labelline9"> Publisher <p class="required" *ngIf="isNull('publisher', 'periodical')">*Required</p> </div>
                        </div>

                        <div class="entryarea8">
                            <select formControlName="copyright">
                                <option *ngFor="let x of year" [value]="x" [selected]="x === currentYear"> {{ x }} </option>
                                <option value=""> N.D. </option>
                            </select>
                            <span></span>
                            <div class="labelline8"> Copyright </div>
                        </div>

                        <div class="entryarea8">
                            <select id="type" formControlName="language">
                                <option value="English"> English </option>
                                <option value="Tagalog"> Tagalog </option>
                            </select>
                            <span></span>
                            <div class="labelline8"> Language </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea4">
                            <input type="text" formControlName="volume" (keyup)="deleteIfInvalid($event, 'volume', 'periodical')">
                            <span></span>
                            <div class="labelline4"> Volume <p class="required" *ngIf="isNull('volume', 'periodical')">*Required</p> </div>
                        </div>

                        <div class="entryarea4">
                            <input formControlName="pages" (keyup)="deleteIfInvalid($event, 'pages', 'periodical')">
                            <span class="labelline"></span>
                            <div class="labelline4"> Pages <p class="required" *ngIf="isNull('pages', 'periodical')">*Required</p> </div>
                        </div>

                        <div class="entryarea9">
                            <input type="text" formControlName="issue" (keyup)="deleteIfInvalid($event, 'issue', 'periodical')">
                            <span></span>
                            <div class="labelline9"> Issue <p class="required" *ngIf="isNull('issue', 'periodical')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea6">
                            <input type="text" formControlName="remarks" (keyup)="deleteIfInvalid($event, 'remarks', 'periodical')">
                            <span></span>
                            <div class="labelline6"> Remarks </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea7">
                            <input type="date" formControlName="acquired_date" (change)="deleteIfInvalid($event, 'acquired_date', 'periodical')">
                            <span></span>
                            <div class="labelline7"> Date Received <p class="required" *ngIf="isNull('acquired_date', 'periodical')">*Required</p> </div>
                        </div>

                            <div class="entryarea7">
                                <input type="date" formControlName="date_published" (change)="deleteIfInvalid($event, 'date_published', 'periodical')">
                                <span></span>
                            <div class="labelline7"> Publication Date <p class="required" *ngIf="isNull('date_published', 'periodical')">*Required</p> </div>
                        </div>

                        <!-- image input field -->
                        <div class="entryarea11">
                            <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" (change)="onFileChange($event, 'periodical')">
                            <span></span>
                            <div class="labelline11"> Upload Image </div>
                        </div>
                    </div>

                    <!-- IMAGE CROP AND PREVIEW -->
                    <div class="img-row" id="no-add-function">
                        <div class="img-content">
                            <div class="left">
                                <div class="img-crop">
                                    <ng-container *ngIf="validPeriodicalImage">
                                        <image-cropper
                                          [imageChangedEvent]="periodicalImgChangeEvt"
                                          [aspectRatio]="3/4"
                                          [resizeToWidth]="500"
                                          [maintainAspectRatio]="true"
                                          (imageCropped)="cropImg($event, 'periodical')"
                                          (imageLoaded)="imgLoad()"
                                          (cropperReady)="initCropper()"
                                          (loadImageFailed)="imgFailed()"
                                        >
                                        </image-cropper>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="right">
                                <div class="preview" *ngIf="periodicalCropImagePreview">
                                    <h2> Cropped Image Preview </h2>
                                </div>
                                <div class="cropped-image-preview" *ngIf="periodicalCropImagePreview">
                                    <img [src]="periodicalCropImagePreview" alt="Cropped Image Preview">
                                    <!-- <input class="inputtxt" type="file" [value]="cropImagePreview" name="image_url" (change)="onFileChange($event, 'periodical')" hidden> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="perio-btn">
                        <input class= " button" type="submit" value="Add" id="submit" 
                            [ngClass]="{ 'validSubmit': periodicalForm.valid, 'invalidSubmit': periodicalForm.invalid }" [disabled]="periodicalForm.invalid">
                    </div>
                </div>
            </form>
        </div>


<!------------------------------ Articles Tab ---------------------------------------->


        <div class="tab-content">
            <form id="article-form" enctype="multipart/form-data" [formGroup]="articleForm" (ngSubmit)="materialSubmit('article')">
                <div class="arti-container">

                    <div class="input-row">
                        <div class="entryarea1">
                            <select id="type" formControlName="periodical_type">
                                <option value="0" selected> Journal </option>
                                <option value="1"> Magazine </option>
                                <option value="2"> Newspaper </option>
                            </select>
                            <span></span>
                            <div class="labelline1"> Type of Material </div>
                        </div>

                    <div class="entryarea">
                        <input type="text" formControlName="accession" (keyup)="deleteIfInvalid($event, 'accession', 'article')">
                        <span></span>
                        <div class="labelline"> Accession No. <p class="required" *ngIf="isNull('accession', 'article')">*Required</p> </div>
                    </div>

                    <div class="entryarea">
                        <input type="text" formControlName="title" (keyup)="deleteIfInvalid($event, 'title', 'article')">
                        <span></span>
                        <div class="labelline"> Title <p class="required" *ngIf="isNull('title', 'article')">*Required</p> </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="author-container" formArrayName="authors">
                        <ng-container *ngFor="let x of getAuthorsArray('article').controls; let i = index;" [formGroupName]="i">
                            <div class="multiple-author">
                                <div class="entryarea2">
                                    <input class="inputtxt" type="text" [formControlName]="'authorName'" (keyup)="deleteIfInvalid($event, 'authorName', 'article', i)">
                                    <span></span>
                                    <div class="labelline2"> Author <p class="required" *ngIf="isNull('authorName', 'article', i)">*Required</p> </div>
                                </div>
                                <button type="button" class="removebtn" (click)="removeAuthor('article', i)" *ngIf="getAuthorsArray('article').length > 1">
                                    <i class='bx bx-x'></i>
                                </button>
                            </div>
                        </ng-container>

                    </div>
                        <div class="addbtn">
                        <button type="button" class="add-author" (click)="addAuthor('article')" [disabled]="getAuthorsArray('article').length === 5">ADD</button>
                    </div>

                        <!--- Display message based on the number of input fields ---->
                        <p *ngIf="getAuthorsArray('article').length < 5">Add more AUTHOR if necessary</p>
                        <p *ngIf="getAuthorsArray('article').length === 5">Maximum AUTHORS reached</p>

                </div>

                    <div class="input-row1">
                        <div class="entryarea9">
                            <input type="text" formControlName="publisher" (keyup)="deleteIfInvalid($event, 'publisher', 'article')">
                            <span></span>
                            <div class="labelline9"> Publisher <p class="required" *ngIf="isNull('publisher', 'article')">*Required</p> </div>
                        </div>

                        <div class="entryarea8">
                            <select id="type" formControlName="language">
                                <option value="English"> English </option>
                                <option value="Tagalog"> Tagalog </option>
                            </select>
                            <span></span>
                            <div class="labelline8"> Language </div>
                        </div>

                        <div class="entryarea9">
                            <input type="text" formControlName="volume" (keyup)="deleteIfInvalid($event, 'volume', 'article')">
                            <span></span>
                            <div class="labelline9"> Volume <p class="required" *ngIf="isNull('volume', 'article')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea12">
                            <textarea formControlName="abstract" (keyup)="deleteIfInvalid($event, 'abstract', 'article')"></textarea>
                            <span></span>
                            <div class="labelline12"> Abstract <p class="required" *ngIf="isNull('abstract', 'article')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea9">
                            <input type="text" formControlName="issue" (keyup)="deleteIfInvalid($event, 'issue', 'article')">
                            <span></span>
                            <div class="labelline9"> Issue <p class="required" *ngIf="isNull('issue', 'article')">*Required</p> </div>
                        </div>

                        <div class="entryarea9">
                            <input type="text" formControlName="subject" (keyup)="deleteIfInvalid($event, 'subject', 'article')">
                            <span></span>
                            <div class="labelline9"> Subject <p class="required" *ngIf="isNull('subject', 'article')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea4">
                            <input type="text" formControlName="pages" (keyup)="deleteIfInvalid($event, 'pages', 'article')">
                            <span></span>
                            <div class="labelline4"> Pages <p class="required" *ngIf="isNull('pages', 'article')">*Required</p> </div>
                        </div>

                        <div class="entryarea7">
                            <input type="date"  formControlName="date_published" (change)="deleteIfInvalid($event, 'date_published', 'article')">
                            <span></span>
                            <div class="labelline7"> Publication Date <p class="required" *ngIf="isNull('date_published', 'article')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row1">
                        <div class="entryarea6">
                            <input type="text" formControlName="remarks" (keyup)="deleteIfInvalid($event, 'remarks', 'article')">
                            <span></span>
                            <div class="labelline6"> Remarks </div>
                        </div>
                    </div>

                    <div class="arti-btn">
                        <input class= " button" type="submit" value="Add" id="submit" 
                            [ngClass]="{ 'validSubmit': articleForm.valid, 'invalidSubmit': articleForm.invalid }" [disabled]="articleForm.invalid">
                    </div>
                </div>
            </form>
        </div>

<!------------------------------ Audio Visual Tab ---------------------------------------->


        <div class="tab-content">
            <form id="book-form" enctype="multipart/form-data" [formGroup]="audioForm" (ngSubmit)="materialSubmit('AV')">
                <div class="container">

                    <div class="input-row">
                        <div class="entryarea">
                            <input type="text" formControlName="accession" (change)="deleteIfInvalid($event, 'accession', 'AV')">
                            <span></span>
                            <div class="labelline"> Accession No. <p class="required" *ngIf="isNull('accession', 'AV')">*Required</p> </div>
                        </div>

                        <div class="entryarea  ">
                            <input type="text" formControlName="title" (change)="deleteIfInvalid($event, 'title', 'AV')">
                            <span></span>
                            <div class="labelline"> Title <p class="required" *ngIf="isNull('title', 'AV')">*Required</p> </div>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="author-container" formArrayName="authors">
                            <ng-container *ngFor="let x of getAuthorsArray('AV').controls; let i = index;" [formGroupName]="i">
                                <div class="multiple-author">
                                    <div class="entryarea2">
                                        <input class="inputtxt" type="text" [formControlName]="'authorName'" (keyup)="deleteIfInvalid($event, 'authorName', 'AV', i)">
                                        <span></span>
                                        <div class="labelline2"> Author <p class="required" *ngIf="isNull('authorName', 'AV', i)">*Required</p> </div>
                                    </div>
                                    <button type="button" class="removebtn" (click)="removeAuthor('AV', i)" *ngIf="getAuthorsArray('AV').length > 1">
                                        <i class='bx bx-x'></i>
                                    </button>
                                </div>
                            </ng-container>

                        </div>
                            <div class="addbtn">
                            <button type="button" class="add-author" (click)="addAuthor('AV')" [disabled]="getAuthorsArray('AV').length === 5">ADD</button>
                        </div>

                            <!--- Display message based on the number of input fields ---->
                            <p *ngIf="getAuthorsArray('AV').length < 5">Add more AUTHOR if necessary</p>
                            <p *ngIf="getAuthorsArray('AV').length === 5">Maximum AUTHORS reached</p>

                    </div>

                    <div class="input-row1">
                        <div class="entryarea9">
                            <input type="text" formControlName="call_number" (change)="deleteIfInvalid($event, 'call_number', 'AV')" placeholder="XXXX.X.XXX">
                            <span></span>
                            <div class="labelline9"> Call Number <p class="required" *ngIf="isNull('call_number', 'AV')">*Required</p> </div>
                        </div>
                        <div class="entryarea8">
                            <select formControlName="copyright">
                                <option *ngFor="let x of year" [value]="x" [selected]="x === currentYear"> {{ x }} </option>
                                <option value=""> N.D. </option>
                            </select>
                            <span></span>
                            <div class="labelline8"> Copyright </div>
                        </div>
                    </div>

                    <!-- IMAGE CROP AND PREVIEW -->
                    <div class="img-row" id="no-add-function">
                        <div class="img-content">
                            <div class="left">
                                <div class="entryarea11">
                                    <input class="inputtxt" type="file" accept=".jpeg, .png, .jpg" (change)="onFileChange($event, 'AV')">
                                    <span></span>
                                    <div class="labelline11"> Upload Image </div>
                                </div>
                                <div class="av-img-crop" *ngIf="validAVImage">
                                    <ng-container *ngIf="validAVImage">
                                        <image-cropper
                                          [imageChangedEvent]="AVImgChangeEvt"
                                          [aspectRatio]="3/4"
                                          [resizeToWidth]="500"
                                          [maintainAspectRatio]="true"
                                          (imageCropped)="cropImg($event, 'AV')"
                                          (imageLoaded)="imgLoad()"
                                          (cropperReady)="initCropper()"
                                          (loadImageFailed)="imgFailed()"
                                        >
                                        </image-cropper>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="av-right">
                                <div class="preview" *ngIf="AVCropImagePreview">
                                    <h2> Cropped Image Preview </h2>
                                </div>
                                <div class="cropped-image-preview" *ngIf="AVCropImagePreview">
                                    <img [src]="AVCropImagePreview" alt="Cropped Image Preview"> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="audio-btn">
                        <input class= " button" type="submit" value="Add" id="submit" 
                            [ngClass]="{ 'validSubmit': audioForm.valid, 'invalidSubmit': audioForm.invalid }" [disabled]="audioForm.invalid">
                    </div>

                </div> 
            </form> 
        </div> 
        
    </div>
</div>
</div>
