/* MAIN PADDING  FOR RESPONSIVE */
.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 1220px) {
    .main-content {
        margin-left: 200px;
        margin-right: 0;
    }
}
/* END OF MAIN PADDING */


/****************************************** Tabs ****************************************/  

.page-content {
	min-width: 100%; 
	background: #ffffff;

}

.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
	
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
    max-width: 100%;  
    margin-left: 50px;
    margin-right: 30px;
	border-bottom: 3.5px solid #000000;
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    margin-left: 50px;
    max-width: 100%;  
    margin-right: 30px;
	color: #31A463;
}

.tab {
    margin-top: 5px;
    width: 100%; 
}

.tab > label {
    color: #000000;
	display: block;
    font-size: 17px; 
    font-weight: bold;
    line-height: 15px;
    padding: 15px 10px;
    text-align: center;
	background: #ffffff;
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
}
.tab:hover label {
    color: #ffffff;
	background-color: #31A463; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* Tab */

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label {
	border-bottom-color: #31A463;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background: #31A463;
	color: #ffffff;
    width: 100%;
    
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
	display: block;
}

.tab-content {
	display: none;
    min-width: 98%; 
	color: #777;
}

/********************************************* Form *************************************/

/* For the Form bg  */ 

.container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #EEEEEE;
    height: 825px;
    margin-top: 50px;
    margin-left: 48px;
}

.arti-container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #EEEEEE;
    height: 950px;
    margin-top: 50px;
    margin-left: 48px;
}

.tab-content {
    width: 500px; 
}

/*************************************** FORM FIELDS *************************************/

// Book - Accession, Title
// Perio - Accession, Title
// Arti - Accession, Title

.input-row {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row .entryarea {
    flex-basis: 100%;
}

.input-row .entryarea1 {
    flex-basis: 100%;
}

.input-row .entryarea, .input-row .entryarea1 {
    position: relative;
    margin: 1.3rem 0;
}

.entryarea input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 57px;
    width:100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea input:focus ~ span::before {
    left: 0;
    margin-top: 57px;
    width: 100%;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea input:valid ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea input:focus ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Perio, Arti - Type of materials 

.entryarea1 select {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline1 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea1 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 57px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea1 select:focus ~ span::before {
    left: 0;
    margin-top: 57px;
    width: 100%;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea1 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea1 select:valid ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea1 select:focus ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


// Book, Perio, Arti - Author 

.author-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    padding-top: 30px;
    gap: 1.3rem;
    z-index: 1;
}

.entryarea2 input {
    position: absolute;
    margin-top: -25px;
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;

}

.labelline2 {
    position: absolute;
    margin-top: 6px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea2 span::before {
    content: '';
    position: absolute;
    margin-top: 32px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea2 input:focus ~ span::before {
    width: 100%;
    margin-top: 32px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea2 input:hover{
    background-color: #ececec;
}

/* Label float */ 

.entryarea2 input:valid ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea2 input:focus ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

.input-row p {
    position: absolute;
    padding-top: 72px;
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;

}

.input-row .multiple-author {
    position: relative;
    flex-basis: 100%;
    margin-top: 5px;
}

.addbtn .add-author {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    height: 60px;
    width: 70px;
    background-color: var(--main-green);
    color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.input-row .add-author:hover {
    background-color: var(--green-hover);
}

.input-row .removebtn {
    display: none;
}

.input-row .multiple-author:hover {
    .removebtn {
        position: absolute;
        font-size: 30px;
        color: var(--cancel-btn);
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 5px;
        top: 0;
        right: 0;
        margin: 15px 10px 0 0;
        cursor: pointer;
    }
}

// Book, Perio - Copyright

.input-row1 {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row1 .entryarea3, .input-row1 .entryarea4 {
    flex-basis: 100%;
}

.input-row1 .entryarea3, .input-row1 .entryarea4 {
    position: relative;
}

.entryarea3 select{
    font-family: 'Montserrat';
    width: 100%;
    margin-top: 30px;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline3 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea3 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea3 select:focus ~ span::before {
    left: 0;
    width: 100%;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea3 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea3 select:valid ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea3 select:focus ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}


// Books - Volume, Edition 
// Perio - Publisher, Volume 

.entryarea4 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline4 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea4 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea4 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea4 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea4 input:valid ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea4 input:focus ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Book - Price

.input-row1 .entryarea5 {
    flex-basis: 100%;
}

.input-row1 .entryarea5 {
    position: relative;
}

.entryarea5 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 35px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.entryarea5 .peso-sign {
    position: absolute;
    left: 15px; 
    top: 77%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    pointer-events: none; 
}


.labelline5 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea5 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea5 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea5 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea5 input:valid ~ .labelline5 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea5 input:focus ~ .labelline5 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
}

// Book - Remarks, Pages
// Perio - Publisher, Pages, Remarks 
// Arti - Remarks 

.input-row1 .entryarea6, .input-row1 .entryarea7 {
    flex-basis: 100%;
}

.input-row1 .entryarea6, .input-row1 .entryarea7 {
    position: relative;
}

.entryarea6 input{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline6 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea6 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea6 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea6 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea6 input:valid ~ .labelline6 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea6 input:focus ~ .labelline6 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Books - Purchased 
// Perio - Publication

.entryarea7 input{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline7 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea7 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea7 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea7 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea7 input:valid ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea7 input:focus ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
}


// Book - Fund, Location 
// Perio - Language, Recieved 
// Arti - Language 

.input-row1 .entryarea8 {
    flex-basis: 100%;
}

.input-row1 .entryarea8 {
    position: relative;
}

.entryarea8 select{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline8 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea8 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea8 select:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea8 select:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea8 select:valid ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea8 select:focus ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
}

// Book -  Callnumber
// Perio - Issue, Pages 
// Arti -  Issue, Subject, Volume

.input-row1 .entryarea9 {
    flex-basis: 100%;
}

.input-row1 .entryarea9 {
    position: relative;
}

.entryarea9 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline9 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea9 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea9 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea9 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea9 input:valid ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
}
  
.entryarea9 input:focus ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
}


// Book - Copies 

.input-row1 .entryarea10, .input-row1 .entryarea11 {
    flex-basis: 100%;
}

.input-row1 .entryarea10, .input-row1 .entryarea11 {
    position: relative;
}

.entryarea10 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline10 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */ 

.entryarea10 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea10 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea10 input:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea10 input:valid ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea10 input:focus ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

// Upload Image

.entryarea11 input {
    font-family: 'Montserrat';
    width: 100%;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline11 {
    position: absolute;
    margin-top: -70px;
    margin-left: 5px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;
    pointer-events: none;
    transition: .3s;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 5px;
    font-family: 'Montserrat';
    color: #ffffff;
    padding-top: 5px;
    height: 59px;
    font-size: 14px;
    cursor: pointer;
    background-color: #31A463;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

// Arti - Abstract  

.input-row1 .entryarea12 {
    flex-basis: 100%;
    position: relative;
    margin-top: 30px;
 
}

.entryarea12 textarea {
    font-family: 'Montserrat';
    width: 100%;
    height: 200px;
    padding-top: 29px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: none;
    background-color: var(--input);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    border-bottom: 2px solid var(--input-border);
    resize: none;
}

.labelline12 {
    font-family: 'Montserrat';
    position: absolute;
    top: 100%;
    left: 10px;
    color: var(--input-border);
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

.entryare12:focus {
    content: '';
    border-bottom: 2.5px solid var(--main-green);
}


/* Bottom Line when hover */ 

.entryarea12 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 198px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea12 textarea:focus ~ span::before {
    left: 0;
    margin-top: 198px;
    width: 100%;
    transition: .3s;
    background: #31A463;
}

/* Change Bg color when Hover */ 

.entryarea12 textarea:hover{
    background-color: #ececec;
}

/* Label float */ 
.entryarea12 textarea:valid ~ .labelline12 {
    top: 14px;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.entryarea12 textarea:focus ~ .labelline12 {
    top: 14px;
    font-size: 12px;
    color: #31A463;
    letter-spacing: 0.5px;
}

/* Book Submit Button */ 

.book-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: white;
    background-color: #31A463;
    text-decoration: none;
    height: 50px;
    margin-top: 50px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}


/* Perio Submit Button */ 

.perio-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: white;
    background-color: #31A463;
    text-decoration: none;
    height: 50px;
    margin-top: 50px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

/* Arti Submit Button */ 

.arti-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 5px;
    transform: translateX(-50%);
    color: white;
    background-color: #31A463;
    text-decoration: none;
    height: 50px;
    margin-top: 40px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}
