<div class="main-content">
<div class="page-content">
	<div class="tabbed">
		<input type="radio" id="tab1" name="css-tabs" checked="checked">
		<input type="radio" id="tab2" name="css-tabs" >
		<input type="radio" id="tab3" name="css-tabs" >
		
		<ul class="tabs">
			<li class="tab"><label for="tab1">Books</label></li>
			<li class="tab"><label for="tab2">Periodicals</label></li>
			<li class="tab"><label for="tab3">Articles</label></li>
		</ul>
		
        <!--------- Books Tab --------->

		<div class="tab-content">
            <form id="book-form" enctype="multipart/form-data">
                <div class="bookcontainer">

                    <div class="entryarea">
                        <input type="number" min="0" required name="id"> 
                        <span></span>
                        <div class="labelline"> Accession </div>

                    <div class="entryarea1">
                        <input type="text" required name="author"> 
                        <span></span>
                        <div class="labelline1"> Author</div>
                    </div>
                    </div>

                    <div class="entryarea_2">
                        <input type="text" required name="title"> 
                        <span></span>
                        <div class="labelline_2"> Title </div>
                    </div>
                    
                    <div class="entryarea2">
                        <input type="number" min="0" required name="copyright"> 
                        <span></span>
                        <div class="labelline2"> Copyright </div>
                    </div>
                        
                    <div class="entryarea_4">
                        <input type="number" min="0" required name="volume"> 
                        <span></span>
                        <div class="labelline_4"> Volume </div>
                    </div>

                    <div class="entryarea_5">
                        <input type="number" min="0" required name="edition"> 
                        <span></span>
                        <div class="labelline_5"> Edition </div>
                    </div>

                    <div class="entryarea_6">
                        <input type="text" required name="remarks"> 
                        <span></span>
                        <div class="labelline_6"> Remarks </div>
                    </div>

                    <div class="entryarea_7">
                        <input type="text" required name="pages"> 
                        <span></span>
                        <div class="labelline_7"> Pages </div>
                    </div>

                    <div class="entryarea_8">
                        <input type="date" required name="purchased_date"> 
                        <span></span>
                        <div class="labelline_8"> Date Purchased/Donated </div>
                    </div>

                    <div class="entryarea_9">
                        <select id="funds" name="fund">
                            <option value=""> </option>
                            <option value="donated"> Donated </option>
                            <option value="purchased"> Purchased </option>
                        </select>
                        <span></span>
                        <div class="labelline_9"> Source of Fund  </div>
                    </div>

                    <div class="entryarea_10">
                       <!--- <input type="text" required> --->
                        <select name="location_id">
                            <option *ngFor="let location of locations" [value] = "location.id">{{ location.location }}:
                                {{ location.full_location }}</option>
                        </select>
                        <span></span>
                        <div class="labelline_10"> Location </div>
                    </div>

                    <div class="entryarea_11">
                        <input type="number" required name="price"> 
                        <span></span>
                        <div class="labelline_11"> Price </div>
                    </div>

                    <div class="entryarea_12">
                        <input type="number" required name="call_number"> 
                        <span></span>
                        <div class="labelline_12"> Call Number </div>
                    </div>

                    <div class="entryarea_13">
                        <input type="number" required min="0" name="copies"> 
                        <span></span>
                        <div class="labelline_13"> Copies </div>
                    </div>
                    <div class="entryarea_14"> 
                        <input type="file" required name="image_location"> 
                        <div class="labelline_14"> Upload Image</div>
                    </div>

                    <div class="bookbtn">
                        <input type="submit" value="Add" id="submit">
                            <button></button>
                    </div>
                </div>
            </form>
        </div>


        <!--------- Periodicals Tab --------->

       
		<div class="tab-content">
            <form id="periodical-form" enctype="multipart/form-data">
                <div class="periocontainer">

                    <div class="perioarea"> 
                        <select id="type" name="material_type">
                            <option value="magazine"> Magazine </option>
                            <option value="journal"> Journal </option>
                            <option value="newspaper"> Newspaper </option>
                        </select>
                        <span></span>
                        <div class="perioline"> Type of Material </div>

                    <div class="perioarea_1">
                        <input type="text" required name="author"> 
                        <span></span>
                        <div class="perioline_1"> Author </div>
                    </div>
                    </div>

                    <div class="perioarea_2">
                        <input type="text" required name="title"> 
                        <span></span>
                        <div class="perioline_2"> Title </div>
                    </div>

                    <div class="perioarea_3">
                        <input type="text" required name="issue"> 
                        <span></span>
                        <div class="perioline_3"> Issue </div>
                    </div>

                    <div class="perioarea_4">
                        <select id="type" name="language">
                            <option value="english"> English </option>
                            <option value="tagalog"> Tagalog </option>
                        </select>
                        <span></span>
                        <div class="perioline_4"> Language </div>
                    </div>

                    <div class="perioarea_5">
                        <input type="date" required name="receive_date"> 
                        <span></span>
                        <div class="perioline_5"> Date Received </div>
                    </div>

                    <div class="perioarea_6">
                        <input type="date" required name="date_published"> 
                        <span></span> 
                        <div class="perioline_6"> Publication Date </div>
                    </div>

                    <div class="perioarea_7">
                        <input type="text" required name="copyright"> 
                        <span></span>
                        <div class="perioline_7"> Copyright </div>
                    </div>

                    <div class="perioarea_8">
                        <input type="text" required name="publisher"> 
                        <span></span>
                        <div class="perioline_8"> Publisher </div>
                    </div>

                    <div class="perioarea_9">
                        <input type="number" min="0" required name="Volume"> 
                        <span></span>
                        <div class="perioline_9"> Volume </div>
                    </div>

                    <div class="perioarea_10">
                        <input type="text" min="0" required name="remarks"> 
                        <span></span>
                        <div class="perioline_10"> Remarks </div>
                    </div>

                    <div class="perioarea_11">
                        <input type="number" required name="pages">
                        <span></span>
                        <div class="perioline_11"> Pages </div>
                    </div>
                    
                    <div class="perioarea_12"> 
                        <input type="file" required name="image_location"> 
                        <div class="perioline_12"> Upload Image</div>
                    </div>

                    <div class="periobtn"> 
                        <input type="submit" value="Add">
                            <!-- <button onclick="myfunction();"></button> -->
                    </div>
                </div>
            </form>
        </div>

      
		<!--------- Articles Tab --------->

        <div class="tab-content">
            <div class="articontainer">
                <form id="article-form" enctype="multipart/form-data">

                <div class="artiarea"> 
                    <select id="type" name="material_type">
                        <option value="magazine"> Magazine </option>
                        <option value="journal"> Journal </option>
                        <option value="newspaper"> Newspaper </option>
                    </select>
                    <span></span>
                    <div class="artiline"> Type of Material </div>

                <div class="artiarea_1">
                    <input type="text"  required name="author"> 
                    <span></span>
                    <div class="artiline_1"> Author </div>
                </div>
                </div>

                <div class="artiarea_2">
                    <input type="text" required name="title"> 
                    <span></span>
                    <div class="artiline_2"> Title </div>
                </div>

                <div class="artiarea_3">
                    <textarea name="abstract" rows="5" cols="33"> 
                    </textarea>
                    <!-- <input type="text"  name="abstract"> --->
                    <span></span>
                    <div class="artiline_3"> Abstract </div>
                </div>

                <div class="artiarea_4">
                    <select id="type" name="language">
                        <option value="english"> English </option>
                        <option value="tagalog"> Tagalog </option>
                    </select>
                    <span></span>
                    <div class="artiline_4"> Language </div>
                </div>

                <div class="artiarea_5">
                    <input type="text" required name="issue"> 
                    <span></span>
                    <div class="artiline_5"> Issue </div>
                </div>

                <div class="artiarea_6">
                    <input type="text" required name="subject"> 
                    <span></span>
                    <div class="artiline_6"> Subject </div>
                </div>

                <div class="artiarea_7">
                    <input type="number" min="0" required name="volume"> 
                    <span></span>
                    <div class="artiline_7"> Volume </div>
                </div>

                <div class="artiarea_8">
                    <input type="text" required name="publisher"> 
                    <span></span>
                    <div class="artiline_8"> Publisher </div>
                </div>

                <div class="artiarea_9">
                    <input type="text" required name="pages"> 
                    <span></span>
                    <div class="artiline_9"> Pages </div>
                </div>

                <div class="artiarea_10">
                    <input type="date"  name="date_published"> 
                    <span></span>
                    <div class="artiline_10"> Publication Date </div>
                </div>

                <div class="artiarea_11">
                    <input type="text" required name="remarks"> 
                    <span></span>
                    <div class="artiline_11"> Remarks </div>
                </div>
        
                <div class="artibtn"> 
                    <input type="submit" value="Add" id="submit">
                        <button></button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
