/* MAIN PADDING  FOR RESPONSIVE */
.main-content {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* HEAD CONTENT */
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.header h1 {
    font-weight: 700;
    font-size: 22px;
    padding-left: 50px;
    padding-top: 7px;
}

.header a {
    text-align: center;
    align-items: center;
}

.header a h2 {
    margin-top: -12px;
    font-size: 15px;
}

.header .academic-report {
    align-items: center;
    background: var(--main-green);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding-top: 23px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 16px;
    width: 140px;
    height: 40px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    transition: .3s;
    transform: translate(0px, 0px);
}

.header .academic-report:hover {
    box-shadow: 0px 8px 15px -10px rgb(125, 125, 125);
    transform: translate(0px, -2px);
    background: var(--green-hover);
    cursor: pointer;
    text-decoration: none;
}

/****************************************** Tabs ****************************************/

.page-content {
	min-width: 100%;

}

.tabbed {
	overflow-x: hidden;
	padding-bottom: 10px;

}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 20px;
	border-bottom: 3.5px solid #000000;
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    margin-left: 50px;
    max-width: 100%;
    margin-right: 20px;
}

.tab {
    margin-top: 5px;
    width: 100%;
}

.tab > label {
    color: #000000;
	display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 15px;
    padding: 15px 10px;
    text-align: center;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
}
.tab:hover label {
    color: #ffffff;
	background-color: #4F6F52;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

/* Tab */

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label, 
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	background: var(--main-green);
	color: #ffffff;
    width: 100%;

}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
}

.tab-content {
	display: none;
    min-width: 98%;
	color: #777;
}

/********************************************* Form *************************************/

/* For the Form bg  */

.container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #c0bbbb;
    height: auto;
    margin-top: 50px;
    margin-left: 48px;
}

.arti-container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
    min-width: fit-content;
    justify-content: space-between;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 3px 3px #EEEEEE;
    -moz-box-shadow: 0 0 3px 3px #EEEEEE;
    box-shadow: 0 0 3px 3px #c0bbbb;
    height: auto;
    margin-top: 50px;
    margin-left: 48px;
}

.tab-content {
    width: 500px;
}

/*************************************** FORM FIELDS *************************************/

// Book - Accession, Title
// Perio - Accession, Title
// Arti - Accession, Title

.input-row {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row .entryarea {
    flex-basis: 100%;
}

.input-row .entryarea1 {
    flex-basis: 100%;
}

.input-row .entryarea, .input-row .entryarea1 {
    position: relative;
    margin: 1.3rem 0;
}

.entryarea input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 57px;
    width:100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea input:focus ~ span::before {
    left: 0;
    margin-top: 57px;
    width: 100%;
    transition: .3s;
    background: var(--main-green);
}


/* Change Bg color when Hover */

.entryarea input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea input:valid ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea input:focus ~ .labelline {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

// Perio, Arti - Type of materials

.entryarea1 select {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline1 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea1 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 57px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea1 select:focus ~ span::before {
    left: 0;
    margin-top: 57px;
    width: 100%;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea1 select:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea1 select:valid ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea1 select:focus ~ .labelline1 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}


// Book, Perio, Arti - Author

.author-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    padding-top: 38px;
    padding-bottom: 30px;
    column-gap: 1.5rem;
    row-gap: 5rem;
    z-index: 1;
}

.entryarea2 input {
    position: absolute;
    margin-top: -25px;
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;

}

.labelline2 {
    position: absolute;
    margin-top: 6px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea2 span::before {
    content: '';
    position: absolute;
    margin-top: 32px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea2 input:focus ~ span::before {
    width: 100%;
    margin-top: 32px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea2 input:hover{
    background-color: #ececec;
}

/* Label float */

.entryarea2 input:valid ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea2 input:focus ~ .labelline2 {
    margin-top: -10px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

.input-row p {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;

}

.input-row .multiple-author {
    position: relative;
    flex-basis: 100%;
    margin-top: 5px;
}

.addbtn .add-author {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    margin-top: 18px;
    letter-spacing: 0.5px;
    height: 60px;
    width: 70px;
    background-color: var(--main-green);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-row .add-author:hover {
    background-color: var(--green-hover);
}

.input-row .removebtn {
    display: none;
}

.input-row .multiple-author:hover {
.removebtn {
    display: flex;
    position: absolute;
    font-size: 30px;
    color: var(--cancel-btn);
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    top: 0;
    right: 0;
    margin: -5px 10px 0 0;
    cursor: pointer;
    }
}

// Book, Perio -  Location, Source of Fund

.input-row1 {
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.input-row1 .entryarea3, .input-row1 .entryarea4 {
    flex-basis: 100%;
}

.input-row1 .entryarea3, .input-row1 .entryarea4 {
    position: relative;
}

.entryarea3 select{
    font-family: 'Montserrat';
    width: 100%;
    margin-top: 30px;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline3 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea3 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea3 select:focus ~ span::before {
    left: 0;
    width: 100%;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea3 select:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea3 select:valid ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea3 select:focus ~ .labelline3 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}


// Books - Callnumber, Author Number, Volume, Edition, Pages 
// Perio - Volume, Pages 

.entryarea4 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline4 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea4 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea4 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea4 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea4 input:valid ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea4 input:focus ~ .labelline4 {
    margin-top: -45px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

// Book - Price

.input-row1 .entryarea5 {
    flex-basis: 100%;
}

.input-row1 .entryarea5 {
    position: relative;
}

.entryarea5 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 35px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.entryarea5 .peso-sign {
    position: absolute;
    left: 15px;
    top: 77%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    pointer-events: none;
}


.labelline5 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea5 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea5 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea5 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea5 input:valid ~ .labelline5 {
    margin-top: -42px;
    font-size: 12px;
}

.entryarea5 input:focus ~ .labelline5 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
}

// Book - Remarks
// Perio - Remarks
// Arti - Remarks

.input-row1 .entryarea6, .input-row1 .entryarea7 {
    flex-basis: 100%;
}

.input-row1 .entryarea6, .input-row1 .entryarea7 {
    position: relative;
}

.entryarea6 input{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline6 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea6 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea6 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea6 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea6 input:valid ~ .labelline6 {
    margin-top: -42px;
    font-size: 12px;
}

.entryarea6 input:focus ~ .labelline6 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

// Books - Date Purchased 
// Perio - Date Recieved, Publication Date 
// Arti - Publication Date 

.entryarea7 input{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline7 {
    position: absolute;
    margin-top: -42px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea7 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 87px;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.entryarea7 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea7 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea7 input:valid ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
}

.entryarea7 input:focus ~ .labelline7 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
}

//Books - Copyright 
// Perio - Copyright, Language 
// Arti - Language 

.input-row1 .entryarea8 {
    flex-basis: 100%;
}

.input-row1 .entryarea8 {
    position: relative;
}

.entryarea8 select{
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline8 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea8 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea8 select:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea8 select:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea8 select:valid ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
}

.entryarea8 select:focus ~ .labelline8 {
    margin-top: -42px;
    font-size: 12px;
    color:var(--main-green);
}

//Books - Publisher 
// Perio - Publisher, Issue 
// Arti - Issue 

.input-row1 .entryarea9 {
    flex-basis: 100%;
}

.input-row1 .entryarea9 {
    position: relative;
}

.entryarea9 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline9 {
    position: absolute;
    margin-top: -27px;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea9 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea9 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea9 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea9 input:valid ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
}

.entryarea9 input:focus ~ .labelline9 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
}

// Book - Copies

.input-row1 .entryarea10, .input-row1 .entryarea11 {
    flex-basis: 100%;
}

.input-row1 .entryarea10, .input-row1 .entryarea11 {
    position: relative;
}

.entryarea10 input {
    font-family: 'Montserrat';
    width: 100%;
    padding-top: 19px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.labelline10 {
    position: absolute;
    margin-left: 16px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
    transition: .3s;
}

/* Bottom Line when hover */

.entryarea10 span::before {
    content: '';
    position: absolute;
    margin-top: 87px;
    width: 100%;
    left: 0;
    height: 2.5px;
    transition: .3s;
}

.entryarea10 input:focus ~ span::before {
    width: 100%;
    left: 0;
    margin-top: 87px;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea10 input:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea10 input:valid ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea10 input:focus ~ .labelline10 {
    margin-top: -42px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

//Books - Upload 
// Perio - Upload 

.entryarea11 input {
    font-family: 'Montserrat';
    width: 100%;
    margin-top: 30px;
    height: 59px;
    font-size: 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: 2px solid #44474E;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
}

.labelline11 {
    position: absolute;
    margin-top: -70px;
    margin-left: 5px;
    color: #44474E;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;
    pointer-events: none;
    transition: .3s;
}

input[type="file"]::file-selector-button {
    border-top-left-radius: 3px;
    font-family: 'Montserrat';
    color: #ffffff;
    padding-top: 5px;
    height: 59px;
    font-size: 14px;
    cursor: pointer;
    background: var(--main-green);
    border: 1px solid rgba(0, 0, 0, 0.16);
    margin-right: 16px;
    transition: background-color 200ms;
}

// Arti - Abstract

.input-row1 .entryarea12 {
    flex-basis: 100%;
    position: relative;
    margin-top: 30px;

}

.entryarea12 textarea {
    font-family: 'Montserrat';
    width: 100%;
    height: 200px;
    padding-top: 29px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: none;
    background-color: var(--input);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    border-bottom: 2px solid var(--input-border);
    resize: none;
}

.labelline12 {
    font-family: 'Montserrat';
    position: absolute;
    top: 100%;
    left: 10px;
    color: var(--input-border);
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .3s;
}

.entryare12:focus {
    content: '';
    border-bottom: 2.5px solid var(--main-green);
}


/* Bottom Line when hover */

.entryarea12 span::before {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 198px;
    width: 100%;
    height: 2.5px;
    transition: .3s;
}

.entryarea12 textarea:focus ~ span::before {
    left: 0;
    margin-top: 198px;
    width: 100%;
    transition: .3s;
    background: var(--main-green);
}

/* Change Bg color when Hover */

.entryarea12 textarea:hover{
    background-color: #ececec;
}

/* Label float */
.entryarea12 textarea:valid ~ .labelline12 {
    top: 14px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.entryarea12 textarea:focus ~ .labelline12 {
    top: 14px;
    font-size: 12px;
    color: var(--main-green);
    letter-spacing: 0.5px;
}

/* Book Submit Button */

.book-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    transform: translateX(-50%);
    color: white;
    background: var(--main-green);
    text-decoration: none;
    height: 50px;
    margin-top: 50px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}


/* Perio Submit Button */

.perio-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    transform: translateX(-50%);
    color: white;
    background: var(--main-green);
    text-decoration: none;
    height: 50px;
    margin-top: 50px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

/* Arti Submit Button */

.arti-btn > input {
    border: none;
    position: absolute;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    transform: translateX(-50%);
    color: white;
    background: var(--main-green);
    text-decoration: none;
    height: 50px;
    margin-top: 50px;
    width: 45%;
    margin-left: 35%;
    width: 155px;
    font-size: 15px;
    cursor: pointer;
}

.wrapper{
  width: 496px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.content ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}

.wrapper .content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.wrapper .content ul li {
  background-color: #e2e2e2;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.wrapper .content ul li span {
  margin-left: 5px;
  cursor: pointer;
  color: red;
}

.example-chip-list {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.example-chip-list label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#chipGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 16px;
  padding: 5px 10px;
  margin: 2px;
}

.chip button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: #757575;
}

.chip button:hover {
  color: #ff0000;
}

#newFruitInput {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorLabel {
    color: red;
}

.errorSpan::before {
    background-color: red;
}