<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER -->
                <div class="detailsheader">
                    <h1> {{ article.article_type == 0 ? 'Journal' : 
                        article.article_type == 1 ? 'Magazine' : 'Newspaper' }} Article
                    </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>

                <!-- BODY -->
                <div class="detailsbody">
                    <div class="body">
                        <div class="details">
                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td class="data2">{{article.accession}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td class="data2">{{article.title}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td class="data2">
                                    <ng-container *ngIf="!article.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of article.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td class="data2">{{article.publisher}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publication Date</strong></td>
                                    <td class="data2">{{ article.date_published | date: 'longDate' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Subject</strong></td>
                                    <td class="data2">{{article.subject}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="details">
                            <div class="mat-content">
                                <div class="mat-abstract">
                                    <span>
                                        <h2> Abstract </h2>
                                        <p [innerHTML]="formatAbstract(article.abstract)"></p>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="details">
                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td class="data2">{{ article.volume != null ? article.volume : 'N/A' }}</td>
                                    <td class="data"><strong>Article Type</strong></td>
                                    <td class="data2">
                                        {{ article.article_type == 0 ? 'Journal' : article.article_type == 1 ? 'Magazine' : 'Newspaper' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Issue</strong></td>
                                    <td class="data2">{{ article.issue != null ? article.issue : 'N/A' }}</td>
                                    <td class="data"><strong>Language</strong></td>
                                    <td class="data2"> {{ article.language }} </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td class="data"><strong>Pages</strong></td>
                                    <td class="data2">{{article.pages}}</td>
                                    <td class="data"><strong>Remark</strong></td>
                                    <td class="data2">{{ article.remarks != null ? article.remarks : 'N/A' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="button-container">
                        <!--<button class="edit-btn"> Edit </button>-->
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
</main>