<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> Article: {{ article.periodical_type == 0 ? 'Journal' : 
                        article.periodical_type == 1 ? 'Magazine' : 'Newspaper' }} 
</h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="mat-title">
                        <div class="material-title">
                            <span>
                                <h2> {{ article.title }} </h2>
                            </span>
                        </div>
                    </div>

                    <div class="details">
                        <div class="body-details">
                            <span>
                                <h2> Accession Number: </h2> <p> {{ article.accession  }} </p>
                            </span>
                            <span>
                                <h2> Language: </h2> <p> {{ article.language | titlecase }} </p>
                            </span>
                            <span>
                                <h2> Publisher: </h2> <p> {{ article.publisher }} </p>
                            </span>
                            <span>
                                <h2> Publication Date: </h2> <p> {{ article.date_published | date: 'mediumDate' }} </p>
                            </span>
                            <span>
                                <h2> Subject: </h2> <p> {{ article.subject }} </p>
                            </span>
                        </div>

                        <div class="body-details">
                            <span>
                                <h2> Author/s: </h2>
                                <p>
                                <ng-container *ngFor="let author of article.authors; let last = last">
                                    
                                        {{ author }}{{ !last ? ', ' : '' }}
                                    <br>
                                </ng-container>    
                            </p>
                            </span>
                            <span>
                                <h2> Volume: </h2> <p> {{ article.volume }} </p>
                            </span>
                            <span>
                                <h2> Pages: </h2> <p> {{ article.pages }} </p>
                            </span>
                            <span>
                                <h2> Issue: </h2> <p> {{ article.issue }} </p>
                            </span>
                            <span>
                                <h2> Remark: </h2> <p> {{ article.remark != null ? article.remark : 'N/A' }} </p>
                            </span>
                        </div>
                    </div>

                    <div class="details">
                        <div class="art-abstract">
                            <span>
                                <h2> Abstract: </h2>
                            </span>
                            <span>
                                <p> {{ article.abstract != null ? article.abstract : 'N/A' }} </p>
                            </span>
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>