/* CONTAINER */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.details-content {
    position: relative;
    background: white;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.322);
    max-height: 600px;
    overflow-y: auto;
}

// SCROLLBAR 
.details-content::-webkit-scrollbar {
    width: 7px;
}

.details-content::-webkit-scrollbar-thumb {
    background-color: var(--table-border);
    border-radius: 5px;
}

.details-content::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
    margin-top: 90px;
    margin-bottom: 10px;
}

.details-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--table-darkhover);
}
// SCROLLBAR

.detailsbody {
    padding: 110px 30px 10px 30px;
    height: auto; /* Adjust the height as needed */
}

.details {
    display: flex;
    justify-content: space-between;
}

// HEADER
.detailsheader {
    display: flex;
    padding: 20px 30px 30px;
    position: fixed;
    width: 900px;
    background-color: var(--main-green);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
    padding-bottom: 15px;
}

/* EXIT BUTTON */
.exit-button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--primary-color);
}

.exit-button:hover {
    color: var(--secondary-color);
}

h1 {
    color: var(--primary-color);
    padding-top: 5px;
    width: 880px;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
}
// END OF HEADER 

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.details .body-details {
    flex-basis: 50%;
    text-align: left;
    padding: 15px;
}

.body-details span {
    display: flex;
    padding-bottom: 15px;
}

.body-details h2 {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
}

.body-details p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.details .art-abstract {
    text-align: left;
    padding: 15px;
}

.art-abstract span {
    display: flex;
    padding-bottom: 15px;
}

.art-abstract h2 {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
}

.art-abstract p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    font-family: 'Montserrat';
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1.5px;
}

.edit-btn {
    background: var(--main-green);
    color: var(--primary-color);
    margin-right: 10px;
}

.delete-btn {
    background: var(--red);
    color: var(--primary-color);
}

.edit-btn:hover {
    background-color: var(--green-hover);
}

.delete-btn:hover {
    background-color: var(--red-hover);
}

.close-btn {
    background: var(--cancel-btn);
    color: var(--primary-color);
    margin-left: 10px;
}

.close-btn:hover {
    background-color: var(--cancel-hover);
}
