<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> {{ element.location }} element </h1>
                    <button class="exit-button" (click)="closepopup('')"> &times; </button>
                </div>

                <div class="detailsbody">
                    <div class="body">

                        <div class="details">
                            <!-- MATERIAL IMAGE -->
                            <div class="mat-image">
                                <img class="cover" alt="book image" [src]="element.image_url || errorImage">
                            </div>

                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td>{{element.accession}}</td>
                                  </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td>{{element.title || 'Untitled'}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td>{{element.publisher || 'N/A'}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td>
                                    <ng-container *ngIf="element.authors == ''"> N/A </ng-container>
                                        <ng-container *ngFor="let x of element.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td>{{ element.volume != null ? element.volume : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Edition</strong></td>
                                    <td>{{ element.edition != null ? element.edition : 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Copyright</strong></td>
                                    <td>{{ element.copyright || 'N.D.' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Call Number</strong></td>
                                    <td>{{ element.call_number }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Author Number</strong></td>
                                    <td>{{ element.author_number }}</td>
                                </tr>
                            </table>
                        </div>

                        <p class="message"> Additional Info </p>
                        <div class="details">
                            <div class="additional-info">
                                <table class="details-table">
                                    <tr>
                                        <td class="data"><strong>Source of Fund</strong></td>
                                        <td class="data2">{{ element.source_of_fund || 'N/A' }}</td>
                                        <td class="data"><strong>Location</strong></td>
                                        <td class="data2">{{element.location}}</td>
                                      </tr>
                                    <tr>
                                      <td class="data"><strong>Date {{ element.source === 'Purchased' ? 'Purchased' : (element.source === 'Donated') ? 'Donated' : 'Acquired' }}</strong></td>
                                      <td class="data2">
                                        <ng-container *ngIf="element.acquired_date != null"> {{ element.acquired_date | date: 'mediumDate' }} </ng-container>
                                        <ng-container *ngIf="element.acquired_date === null"> N/A </ng-container>
                                      </td>
                                      <td class="data"><strong>Pages</strong></td>
                                      <td class="data2">{{ element.pages || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                      <td class="data"><strong>Price</strong></td>
                                      <td class="data2">{{ element.price ? '₱ ' + element.price : 'N/A' }}</td>
                                      <td class="data"><strong>Remark</strong></td>
                                      <td class="data2">{{ element.remarks != null ? element.remarks : 'N/A' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="button-container">
                        <button class="restore-btn" (click)="restoreBox(data)"> Restore </button>
                        <button class="delete-btn" (click)="deleteBox(data)"> Delete </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>