<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                    <h1> Sample Title </h1>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="details">
                        <div class="body-details">
                            <img alt="blog" src="https://raw.githubusercontent.com/pitcza/sampleimages/main/NoImage.png">
                        </div>

                        <div class="body-details">
                            <span>
                                <h2> Accession Number: </h2> <p> 1 </p>
                            </span>
                            <span>
                                <h2> Location: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Call Number: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Copyright: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Author: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Publication Date: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Volume: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Pages: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Edition: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Remark: </h2> <p> ha </p>
                            </span>
                            <span>
                                <h2> Date Purchased/Donated: </h2> <p> ha </p>
                            </span>
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <button class="edit-btn"> Edit </button>
                        <button class="delete-btn" (click)="archiveBox()" (click)="closepopup()"> Archive </button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>