<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER - TITLE -->
                <div class="detailsheader">
                    <h1> {{ book.location }} Book </h1>
                    <button class="exit-button" (click)="closepopup()"> &times; </button>
                </div>
                
                <!-- BODY - DETAILS -->
                <div class="detailsbody">
                    <div class="mat-title">
                        <div class="material-title">
                            <span>
                                <h2> {{ book.title }} </h2>
                            </span>
                        </div>
                    </div>

                    <div class="details">
                        <div class="body-details">
                            <img alt="book image" [src]="book.image_url!= null ? book.image_url: errorImage">
                        </div>

                        <div class="body-details">
                            <span>
                                <h2> Accession Number: </h2> <p> 
                                    {{ book.accession }}
                                </p>
                            </span>
                            <span>
                                <h2> Author: </h2> <p>
                                    <ng-container *ngIf="book.authors">
                                        <ng-container *ngFor="let author of book.authors; let last = last">
                                            <p>
                                                {{ author }}
                                                {{ !last ? ', ' : '' }}
                                            </p>
                                        </ng-container>    
                                    </ng-container> 

                                    <ng-container *ngIf="!book.authors"> N/A </ng-container>
                                    
                                </p>
                            </span>
                            <span>
                                <h2> Publisher: </h2> <p> {{ data.details.publisher }} </p>
                            </span>
                            <span>
                                <h2> Publisher: </h2> <p> {{ book.publisher }} </p>
                            </span>
                            <span>
                                <h2> Location: </h2> <p> {{ book.location }} </p>
                            </span>
                            <span>
                                <h2> Call Number: </h2> <p> {{ book.call_number }} </p>
                            </span>
                            <span>
                                <h2> Author Number: </h2> <p> {{ book.author_number }} </p>
                            </span>
                            <span>
                                <h2> Volume: </h2> <p> {{ book.volume != null ? book.volume : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Pages: </h2> <p> {{ book.pages }} </p>
                            </span>
                            <span>
                                <h2> Edition: </h2> <p> {{ book.edition != null ? book.edition : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Source of Fund: </h2> <p> {{ book.source_of_fund ? book.source_of_fund : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Date {{ book.source === 'Purchased' ? 'Purchased' : (book.source === 'Donated') ? 'Donated' : 'Acquired' }}: </h2> <p> 
                                    <ng-container *ngIf="book.acquired_date != null"> {{ book.acquired_date | date: 'mediumDate' }} </ng-container>
                                    <ng-container *ngIf="book.acquired_date === null"> N/A </ng-container>
                                </p>
                            </span>
                            <span>
                                <h2> Price: </h2> <p> {{ book.price ? '₱ ' + book.price : 'N/A' }} </p>
                            </span>
                            <span>
                                <h2> Remark: </h2> <p> {{ book.remark != null ? book.remark : 'N/A' }} </p>
                            </span>
                        </div>
                    </div>
                
                    <!-- BUTTONS -->
                    <div class="button-container">
                        <!--<button class="edit-btn" *ngIf="popupService.getPopupStatus() | async"> Edit </button>-->
                        <button class="delete-btn" (click)="archiveBox()"> Archive </button>
                        <!--<button class="close-btn" (click)="closepopup()"> Close </button>-->
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</main>