<main>
    <div class="container">
        <div class="content">
            <div class="details-content">
                <!-- HEADER -->
                <div class="detailsheader">
                    <h1> {{ type }} element </h1>
                    <button class="exit-button" (click)="closepopup('')"> &times; </button>
                </div>

                <!-- BODY -->
                <div class="detailsbody">
                    <div class="body">
                        <div class="details">
                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Accession No.</strong></td>
                                    <td class="data2">{{element.accession}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Title</strong></td>
                                  <td class="data2">{{element.title}}</td>
                                </tr>
                                <tr>
                                  <td class="data"><strong>Author(s)</strong></td>
                                  <td class="data2">
                                    <ng-container *ngIf="!element.authors"> N/A </ng-container>
                                        <ng-container *ngFor="let x of element.authors; let last = last;">
                                        {{ x     }}{{ !last ? ',' : '' }} <br>
                                    </ng-container>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publisher</strong></td>
                                    <td class="data2">{{element.publisher}}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Publication Date</strong></td>
                                    <td class="data2">{{ element.date_published | date: 'longDate' }}</td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Subject</strong></td>
                                    <td class="data2">{{element.subject}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="details">
                            <div class="mat-content">
                                <div class="mat-abstract">
                                    <span>
                                        <h2> Abstract </h2>
                                        <p [innerHTML]="formatAbstract(element.abstract)"></p>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="details">
                            <table class="details-table">
                                <tr>
                                    <td class="data"><strong>Volume</strong></td>
                                    <td class="data2">{{ element.volume != null ? element.volume : 'N/A' }}</td>
                                    <td class="data"><strong>element Type</strong></td>
                                    <td class="data2">
                                        {{ element.element_type == 0 ? 'Journal' : element.element_type == 1 ? 'Magazine' : 'Newspaper' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="data"><strong>Issue</strong></td>
                                    <td class="data2">{{ element.issue != null ? element.issue : 'N/A' }}</td>
                                    <td class="data"><strong>Language</strong></td>
                                    <td class="data2"> {{ element.language }} </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td class="data"><strong>Pages</strong></td>
                                    <td class="data2">{{element.pages}}</td>
                                    <td class="data"><strong>Remark</strong></td>
                                    <td class="data2">{{ element.remarks != null ? element.remarks : 'N/A' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="button-container">
                        <button class="restore-btn" (click)="restoreBox(data)"> Restore </button>
                        <button class="delete-btn" (click)="deleteBox(data)"> Delete </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>